<div class="padding-container">
	<div ng-model="licenses">
		<h3 class="expand-title text-center first-one">Solicitar registro de horas extras</h3>
		<br /><br />
		<div class="row">
			<div class="large-5 medium-5 columns">
				<form ng-submit="putRequest()">
					<div class="row">
						<div class="large-7 medium-7 columns">
							<label for="inicio">Fecha de registro: </label>
							<div class="row collapse prefix-radius">
								<div class="small-3 columns">
									<span class="prefix date"><i class="fa fa-calendar"></i></span>
								</div>
								<div class="small-9 columns">
									<input type="date" id="inicio" ng-model="extras.start_date">
								</div>
							</div>
						</div>
						<div class="large-5 medium-5 columns">
							<label for="inicio"># de horas: </label>
							<div class="row collapse prefix-radius">
								<div class="small-3 columns">
									<span class="prefix date"><i class="fa fa-clock-o"></i></span>
								</div>
								<div class="small-9 columns">
									<input type="number" id="final" ng-model="extras.end_date" placeholder="ej: 8">
								</div>
							</div>
						</div>
					</div>
					<label for="">Motivo: </label>
					<select name="monto" id="monto">
						<option value="1">Licencia remunerada</option>
						<option value="2">Licencia no remunerada</option>
						<option value="3">Compensatorio</option>
						<option value="4">Compensatorio Jurado de votación</option>
						<option value="5">Compensatorio Elecciones</option>
						<option value="6">Licencia de maternidad</option>
					</select>
					<input type="hidden" ng-model="permiso.status">
					<input type="hidden" ng-model="permiso.employee_id">
					<br />
					<div class="text-right">
						<input type="submit" value="Solicitar" class="button success small" />
					</div>
				</form>
			</div> <!-- /large-6 -->
			<div class="large-7 medium-7 columns">
				<table class="vacations">
					<thead>
						<tr>
							<th class="desde">DESDE</th>
							<th>HASTA</th>
							<th class="dias">DIAS</th>
							<th>MOTIVO</th>
							<th>ESTADO</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="desde">
								<h2>18</h2>
								<h6>Diciembre</h6>
							</td>
							<td>
								<h2>20</h2>
								<h6>Diciembre</h6>
							</td>
							<td class="dias"><h2>2</h2></td>
							<td><h6>Licencia remunerada</h6></td>
							<td><h6 class="bold"><span>en espera</span></h6></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal(1,'myModal')"></a>
								<div id="myModal-1" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
										<a href="" ng-click="deleteLicense(license,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br /><br />
		<h3 class="expand-title text-center">Autorizar solicitud de horas extras</h3>
		<br /><br />
		<div class="row">
			<div class="large-12 columns">
				<table class="vacations responsive">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th class="desde">DESDE</th>
							<th>HASTA</th>
							<th class="dias">DIAS</th>
							<th>MOTIVO</th>
							<th>ESTADO</th>
							<th class="aprobar">APROBAR</th>
							<th class="negar">NEGAR</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<h5>Gabriel Rodriguez</h5>
							</td>
							<td class="desde">
								<h2>18</h2>
								<h6>Diciembre</h6>
							</td>
							<td>
								<h2>20</h2>
								<h6>Diciembre</h6>
							</td>
							<td class="dias"><h2>2</h2></td>
							<td><h6>Licencia remunerada</h6></td>
							<td><h6 class="bold" ><span>en espera</span></h6></td>
							<td><a href="" ng-click="aproveLicenses(license)" class="acciones"></a></td>
							<td><a href="" ng-click="deniedLicenses(license)" class="acciones negar"></a></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal(1,'elmodal')"></a>
								<div id="elmodal-1" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
									<a href="" ng-click="deleteLicenses(license,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>