<div class="padding-container">
	<div class="row" ng-if="organigram.length >= 1">
		<div class="large-6 small-12 columns large-centered">
			<ul class="no-bullet organigrama">
				<li>
					<div class="pictuare boss">
						<a><img ng-src="{{image_organigram(organigram.image.image.url)}}" alt="" /></a>
					</div>
					<div class="org-info">
						<h4 class="no-margin maxup bluetxt">{{organigram.short_name | special_capitalize:'own'}}</h4>
						<h5 class="no-margin maxup">{{organigram.posicion | special_capitalize}}</h5>
					</div>
					<ul class="no-bullet">
						<li ng-repeat="(key, employee) in organigram.children">
							<div class="pictuare first-line" 
							ng-mouseover="changedOverIcon($event, key)" 
							ng-mouseleave="changedDownIcon($event, key)" 
							ng-click="mostrar($event, key)">
								<div ng-if="employee.children || employee._children">
									<div class="picture-icon" id="icon_{{key}}">
										<span class="fa fa-minus fa-lg"></span>
									</div>
								</div>
								<a><img ng-src="{{image_organigram(employee.image.image.url)}}" alt="" /></a>
							</div>
							<div class="org-info hovered">
								<a ng-show="showMasterData(employee)" ui-sref="#" ng-click="showModal(employee)" class="capitalize" >
									<h5 class="no-margin subheader maxup fixdown">
										{{employee.short_name | special_capitalize:'own'}}
									</h5>
									<h6 class="no-margin subheader maxup">
										{{employee.posicion | lowercase}}
									</h6>
								</a>
								<div ng-hide="showMasterData(employee)" class="contact-name" ng-click="showModal(employee)">
									<h5 class="no-margin subheader maxup fixdown">
										{{employee.short_name | special_capitalize:'own'}}
									</h5>
									<h6 class="no-margin subheader maxup">
										{{employee.posicion | lowercase}}
									</h6>
								</div>
							</div>

							<ul class="childs no-bullet" ng-if="employee.children || employee._children">
								<li ng-repeat="razo in employee.children">
									<div class="pictuare second-line">
										<a><img ng-src="{{image_organigram(razo.image.url)}}" alt="" /></a>
									</div>
									<div class="org-info">
										<a ng-show="showMasterData(razo)" ui-sref="#" ng-click="showModal(razo)" class="capitalize" >
											<h5 class="no-margin subheader maxup fixdown">
												{{razo.short_name | special_capitalize:'own'}}
											</h5>
											<h6 class="no-margin subheader maxup">
												{{razo.posicion | lowercase}}
											</h6>
										</a>
										<div ng-hide="showMasterData(razo)" class="contact-name" ng-click="showModal(razo)">
											<h5 class="no-margin subheader maxup fixdown">
												{{razo.short_name | special_capitalize:'own'}}
											</h5>
											<h6 class="no-margin subheader maxup">
												{{razo.posicion | lowercase}}
											</h6>
										</div>
									</div>
								</li>
								<li ng-repeat="razo in employee._children">
									<div class="pictuare second-line">
										<a><img ng-src="{{razo.image.url}}" alt="" /></a>
									</div>
									<div class="org-info">
										<a ng-show="showMasterData(razo)" ui-sref="#" ng-click="showModal(razo)" class="capitalize" >
											<h5 class="no-margin subheader maxup fixdown">
												{{razo.short_name | special_capitalize:'own'}}
											</h5>
											<h6 class="no-margin subheader maxup">
												{{razo.posicion | lowercase}}
											</h6>
										</a>
										<div ng-hide="showMasterData(razo)" class="contact-name" ng-click="showModal(razo)">
											<h5 class="no-margin subheader maxup fixdown">
												{{razo.short_name | special_capitalize:'own'}}
											</h5>
											<h6 class="no-margin subheader maxup">
												{{razo.posicion | lowercase}}
											</h6>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<div id="employeeDataOrganigramModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="false" role="dialog">
				<div ng-include="modalDataEmployee"></div>
			</div>
		</div>
	</div>
	<!-- <div id="chart" class="hide-for-small-only"></div> -->
</div>