<div class="padding-container">
	<div class="row">
		<div class="large-6 small-12 columns large-centered">
			<ul class="no-bullet organigrama">
				<li>
					<div class="pictuare boss">
						<a><img ng-src="{{organigram.image}}" alt="" /></a>
					</div>
					<div class="org-info">
						<h4 class="no-margin maxup bluetxt">{{organigram.short_name | lowercase}}</h4>
						<h5 class="no-margin maxup">{{organigram.posicion | lowercase}}</h5>
					</div>
					<ul class="no-bullet">
						<li ng-repeat="employee in organigram.children">
							<div class="pictuare first-line" ng-click="mostrar($event)">
								<a><img ng-src="{{organigram.image}}" alt="" /></a>
							</div>
							<div class="org-info hovered" ng-click="mostrar($event)">
								<h5 class="no-margin maxup">{{employee.short_name | lowercase}}</h5>
								<h6 class="no-margin maxup">{{employee.posicion | lowercase}}</h6>
							</div>
							<ul class="childs no-bullet" ng-if="employee.children || employee._children">
								<li ng-repeat="razo in employee.children">
									<div class="pictuare second-line">
										<a><img ng-src="{{razo.image}}" alt="" /></a>
									</div>
									<div class="org-info">
										<h5 class="no-margin subheader maxup fixdown">{{razo.short_name | lowercase}}</h5>
										<h6 class="no-margin subheader maxup">{{razo.posicion | lowercase}}</h6>
									</div>
								</li>
								<li ng-repeat="razo in employee._children">
									<div class="pictuare second-line">
										<a><img ng-src="{{razo.image}}" alt="" /></a>
									</div>
									<div class="org-info">
										<h5 class="no-margin subheader maxup fixdown">{{razo.short_name | lowercase}}</h5>
										<h6 class="no-margin subheader maxup">{{razo.posicion | lowercase}}</h6>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- <div id="chart" class="hide-for-small-only"></div> -->
</div>