<div ng-model="employees">
    <ul>
      <li ng-repeat="employee in jefes">
		  <img ng-src="{{employee.photo}}" alt="" />
		<h3 class="subheader">{{employee.name1}}</h3>
  		<h4>{{employee.cargo}}</h4><sup>{{employee.pernr}}</sup><sub>{{employee.fther}}</sub>
	    <ul>
	      <li ng-repeat="employee in elempleado">
			  <img ng-src="{{employee.photo}}" alt="" />
			<h4 class="subheader">{{employee.name1}}</h4>
	  		<h6>{{employee.cargo}}</h6><sup>{{employee.pernr}}</sup><sub>{{employee.fther}}</sub>
		    <ul class="inline-list">
		      <li ng-repeat="subordinado in subordinados">
				  <img ng-src="{{subordinado.photo}}" alt="" />
				<h5 class="subheader">{{subordinado.name1}}</h5>
		  		<h6 class="subheader">{{subordinado.cargo}}</h6><sup>{{subordinado.pernr}}</sup><sub>{{subordinado.fther}}</sub>
		      </li>
		    </ul>
	      </li>
	    </ul>
      </li>
    </ul>
</div>

<div class="row">
	<div class="large-12 columns">
		<div id="chart"></div>
		<script type="text/javascript"> 
		var width = 1024; 
		var height = 600; 
		
		var m = [20, 120, 20, 120],
		    w = 1280 - m[1] - m[3],
		    h = 800 - m[0] - m[2],
		    i = 0,
		    root;
		
		var tree = d3.layout.tree()
			.size([h, w]);
		// var cluster = d3.layout.cluster()
		//    .size([height, width-400]);
		var diagonal = d3.svg.diagonal()    
		   .projection (function(d) { return [d.y, d.x];}); 
		var svg = d3.select("#chart").append("svg")    
		   .attr("width",width)    
		   .attr("height",height)    
		   .append("g")    
		   .attr("transform","translate(150,0)"); 
		d3.json("/api/organigram/show/2133.json", function(error, json){    
		   root = json.organigram
		   root.x0 = h / 2;
		   root.y0 = 0;
		   
		  function toggleAll(d) {
	 	    if (d.children) {
	 	      d.children.forEach(toggleAll);
	 	      toggle(d);
	 	    }
	 	  }
		  
		 // Initialize the display to show a few nodes.
		  root.children.forEach(toggleAll);
		  toggle(root.children[1]);
		  
	 	  update(root);
		}); 
		

	function update(source) {
	  var duration = d3.event && d3.event.altKey ? 5000 : 500;

	  // Compute the new tree layout.
	  var nodes = tree.nodes(root).reverse();

	  console.log(nodes);
	  // Normalize for fixed-depth.
	  nodes.forEach(function(d) { d.y = d.depth * 180; });

	  // Update the nodes…
	  var node = svg.selectAll("g.node")
	      .data(nodes, function(d) { return d.id || (d.id = ++i); });

	  // Enter any new nodes at the parent's previous position.
	  var nodeEnter = node.enter().append("svg:g")
	      .attr("class", "node")
	      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	      .on("click", function(d) { toggle(d); update(d); });


	  nodeEnter.append("svg:image")
          .attr("x", function(d) { return d.children || d._children ? -50 : 10; })
          .attr('y',-50)
		  .attr('width', 40)
          .attr('height', 40)
		  .attr("xlink:href",	function(d) { return d.photo; })
		
		  
	  nodeEnter.append("svg:circle")
	      .attr("class", "thelink")
	      .attr("r", 1e-6)
	      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

	  nodeEnter.append("svg:text")
	      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
	      .attr("dy", ".35em")
	      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	      .text(function(d) { return d.name1; })
		  .style("font-size","16px")
	      .style("fill-opacity", 1e-6);
	  
	  nodeEnter.append("svg:text")
		  .attr("class", "cargo")
	      .attr("x", function(d) { return d.children || d._children ? -5 : 5; })
	      .attr("dy", "1.5em")
	      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	      .text(function(d) { return d.cargo; })
		  .style("font-size","12px")
		  .style("fill", "#6f6f6f")
	      .style("fill-opacity", 1e-6);

	  // Transition nodes to their new position.
	  var nodeUpdate = node.transition()
	      .duration(duration)
	      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

	  nodeUpdate.select("circle.thelink")
	      .attr("r", 6.5)
	      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

	  nodeUpdate.selectAll("text")
	      .style("fill-opacity", 1);

	  // Transition exiting nodes to the parent's new position.
	  var nodeExit = node.exit().transition()
	      .duration(duration)
	      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	      .remove();

	  nodeExit.select("circle.thelink")
	      .attr("r", 1e-6);

	  nodeExit.selectAll("text")
	      .style("fill-opacity", 1e-6);

	  // Update the links…
	  var link = svg.selectAll("path.link")
	      .data(tree.links(nodes), function(d) { return d.target.id; });

	  // Enter any new links at the parent's previous position.
	  link.enter().insert("svg:path", "g")
	      .attr("class", "link")
	      .attr("d", function(d) {
	        var o = {x: source.x0, y: source.y0};
	        return diagonal({source: o, target: o});
	      })
	    .transition()
	      .duration(duration)
	      .attr("d", diagonal);

	  // Transition links to their new position.
	  link.transition()
	      .duration(duration)
	      .attr("d", diagonal);

	  // Transition exiting nodes to the parent's new position.
	  link.exit().transition()
	      .duration(duration)
	      .attr("d", function(d) {
	        var o = {x: source.x, y: source.y};
	        return diagonal({source: o, target: o});
	      })
	      .remove();

	  // Stash the old positions for transition.
	  nodes.forEach(function(d) {
	    d.x0 = d.x;
	    d.y0 = d.y;
	  });
	}

	// Toggle children.
	function toggle(d) {
	  if (d.children) {
	    d._children = d.children;
	    d.children = null;
	  } else {
	    d.children = d._children;
	    d._children = null;
	  }
	}

    
		
		</script>
	</div>
</div>