<div class="padding-container">
  <div ng-model="service_vacations">
	<!-- <div ng-model="service_vacations" ng-if="exiteAprobador()"> -->
		<h3 class="expand-title text-center">Crear solicitud de vacaciones compensadas</h3>
		<br /><br />
		<div class="row">
			<div class="large-6 medium-6 columns">
				<form ng-submit="putRequest()">
					<div class="row">
						<div class="large-6 medium-6 columns">
							<label for="inicio">Fecha: </label>
							<div class="row collapse prefix-radius">
								<div class="small-2 columns">
									<span class="prefix date"><i class="fa fa-calendar"></i></span>
								</div>
								<div class="small-10 columns">
									<input type="date" id="inicio" ng-model="requerimiento.start_date" required>
								</div>
							</div>
						</div>
						<div class="large-6 medium-6 end columns">
							<label for="inicio">Número de días: </label>
						  <input type="number" ng-model="quantity" required />
						</div>
					</div>
					<label for="tipo">Tipo: </label>
					<select name="tipo" id="tipo" ng-options="opt.subty as opt.descr for opt in vac_options" ng-model="seleccion" required></select>
					<label for="">Motivo: </label>
					<textarea name="motivo" id="" cols="10" ng-model="requerimiento.more_text"></textarea>
					<label for="">Imagen: </label> 
					<div class="button" ngf-select ngf-change="loadImage($files)">Subir archivo</div>
					<input type="hidden" ng-model="requerimiento.status">
					<input type="hidden" ng-model="requerimiento.employee_id">
					<div class="text-right">
						<input type="submit" value="Solicitar" class="button success small" />
					</div>
				</form>
			</div> <!-- /large-6 -->
			<div class="large-6 medium-6 columns">
				<table class="vacations">
					<thead>
						<tr>
							<th class="dias">CANTIDAD</th>
							<th>ESTADO</th>
							<th>IMAGEN</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="req_info in vac_requirements  | filter:{employee_id: user.employee.id}:true">
							<td class="dias"><h2>{{req_info.dias}}</h2></td>
							<td><h6 class="bold" ><span class="{{req_info.status}}">{{req_info.status}}</span></h6></td>
							<td><a href="" class="" ng-click="modalImage(req_info.attachment)">Ver</a></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal($index,'myModal')"></a>
								<div id="myModal-{{$index}}" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
									<a href="" ng-click="deleteVacation(req_info,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="image-modal" class="reveal-modal" data-reveal aria-labelledby="Imagen" aria-hidden="true" role="dialog">
			<img ng-if="urlImage" ng-src="{{urlImage}}" width="100%" height="1100px" />
			<p ng-hide="urlImage">No existe imagen</p> 
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</div>	
</div>