<div ng-switch on="autenticado">
    <div ng-switch-when="true">
        <!-- code to render if login succesful -->
		<div class="off-canvas-wrap" data-offcanvas>
		  <div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a href="" class="left-off-canvas-toggle menu-icon">
						<span></span>
					</a>
				</section>
				<section class="middle tab-bar-section" >
					<div class="left">
						<a href="/#/home"><img alt="Otrologo" class="logo" ng-src="assets/images/{{company.logo}}"></a>
						<h1 class="title left show-for-medium-up"></h1>
					</div>
					<div class="right">
						<div class="user_nav show-for-medium-up">
							<div class="text-right">
								<a href="" class="comments"><span class="icon-comment"></span><i class="number comment">10</i></a>
								<h5 class="subheader no-margin capitalize"><a ui-sref="main.views.employee_info"><span class="icon-user"></span>{{user.name}}</a></h5>
								<div class="worker">
									<img ng-src="{{user.pic}}">
								</div>
								<h5 class="subheader no-margin"><a ui-sref="main.views.edit()"><span class="icon-cog2"></span></a></h5>
								<h5 class="subheader no-margin"><a href="" ng-click="logout()" data-method="delete" rel="nofollow"><span class="icon-logout"></span></a></h5>
							</div>
						</div>
					</div>
				</section>
				<section class="right-small"><a class="right-off-canvas-toggle menu-icon"><i class="fa fa-sort-amount-asc workers-icon"></i></a></section>
			</nav>
			<aside class="left-off-canvas-menu" ui-view="navbar"></aside>
			<aside class="right-off-canvas-menu" ui-view="sidebar"></aside>
			<section class="main-section">
				<div class="dashboard-profile" ui-view="profile"></div>
				<div class="expandbanner animate-if" ui-view="expandbanner" ng-if="ubicacion == '/vacations' || ubicacion == '/employee_info'"></div>
				<div class="close-banner" ng-if="ubicacion == '/vacations' || ubicacion == '/employee_info'"><a href="" ng-click="toggle($event)"></a></div>
		
				<div class="main-container" id="main-container">
	
				  <div class="main-container-inner">
				    <div class="main-content" ng-class="{'main-content-bigger': ui.sidebar.mainCollapsed}">
						
					  <div class="row">
					  	<div class="large-12 columns">
							<div>
							  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
							</div>
					  	</div>
					  </div> <!-- /row -->
					  
				      <div class="row">
				        <div class="small-12 large-12 columns" ui-view="content"></div>
				      </div>
				    </div>
				  </div> <!-- /main-container-inner -->
  
				</div> <!-- /main-container -->
		
			</section> <!-- main-section -->
			<a class="exit-off-canvas" href=""></a>
		  </div> <!-- /inner-wrap -->
		</div> <!-- /off-canvas-wrap -->
    </div> <!-- log in succesful -->
    <div ng-switch-default>
        <!-- code to render if no user sessión -->
		<div class="main-container bglogin" id="main-container">
	
		  <div class="main-container-inner">
		    <div class="main-content" ng-class="{'main-content-bigger': ui.sidebar.mainCollapsed}">
		      <div class="row">
		        <div class="small-12 large-12 columns" ui-view="content"></div>
		      </div>
		    </div>
		  </div> <!-- /main-container-inner -->
  
		</div> <!-- /main-container -->
		
    </div> <!-- /default not loggin -->
</div>
