<!-- <label for="name">Nombre:</label>
	<input type="text" ng-model="company.name" id="name">
	<label for="url">Url principal:</label>
	<input type="text" ng-model="company.mainurl" id="url">
	<label for="logo">Logo:</label>
	<input type="text" ng-model="company.logo" id="logo">
	<label for="cesantias">Servicio cesantias:</label>
	<input type="text" ng-model="company.sv_cesantias" id="cesantias">
	<label for="user">Usuario:</label>
	<input type="text" ng-model="company.user" id="user">
	<label for="password">Password:</label>
	<input type="password" ng-model="company.password" id="password">
	<label for="activo">activa?:</label>
	<div class="switch round small">
	<input id="activo" type="checkbox" ng-model="company.active" >
	<label for="activo"></label>
	</div>
	-->
	

