<label for="name">Nombre:</label>
	<input type="text" ng-model="company.name" id="name">
	<label for="url">Url principal:</label>
	<input type="text" ng-model="company.mainurl" id="url">
	<label for="logo">Logo:</label>
	<input type="text" ng-model="company.logo" id="logo">
	<div class="row">
		<div class="large-6 columns">
			<label for="color_1">Color principal:</label>
			<input type="color" ng-model="company.color_1" id="color_1">
		</div>
		<div class="large-6 columns">
			<label for="color_2">Color secundario:</label>
			<input type="color" ng-model="company.color_2" id="color_2">
		</div>
	</div>
	<label for="fuente">Fuente:</label>
	<select name="fuente" id="fuente" ng-model="company.fuente">
		<option value="Lato">Lato</option>
		<option value="Roboto">Roboto</option>
		<option value="Open Sans">Open Sans</option>
	</select>
	<!-- <label for="user">Usuario:</label>
	<input type="text" ng-model="company.user" id="user">
	<label for="password">Password:</label>
	<input type="password" ng-model="company.password" id="password"> -->
	<label for="activo">activa?:</label>
	<div class="switch round small">
	<input id="activo" type="checkbox" ng-model="company.active" >
	<label for="activo"></label>
	</div>



