<div class="padding-container">
	<message-permission ng-show="showMessagePermission()" titulo="permission_alert"></message-permission>
	<div ng-if="!showMessagePermission()">
		<h3 class="expand-title text-center first-one">Ingresos y Retenciones</h3>
		<div ng-hide="existsPaymentsAndDeductions()" ng-include="warningMessage"></div>
		<div ng-show="existsPaymentsAndDeductions()">
			<div class="row">
				<div class="large-12 medium-12 columns">
					<table>
					  <thead>
						  <tr>
						  	<th id="th_pern" scope="column">
					      	<div class="header" id="year_report" ng-click="sortTables.sortingTable('year_report')">Periodo</div>
						  	</th>
						  	<th scope="column" class="text-center" >
					      	<div class="header" id="text" ng-click="sortTables.sortingTable('text')">Concepto de nomina</div>
					  		</th>
						    <th scope="column" class="text-center">Valor</th>
						  </tr>

						  <tr>
						  	<th scope="column">
						  		<input type="text" class="input-filter" ng-model="year_report_filter" placeholder="Filtro">
						  	</th>
						  	<th scope="column">
						  		<input type="text" class="input-filter" ng-model="payment_concept_filter" placeholder="Filtro">
					  		</th>
						    <th scope="column"></th>
						  </tr>
					  </thead>
					  <tbody ng-repeat="(key, payment) in payments_deductions | filter : {year_report: year_report_filter} | orderBy:sortTables.getPredicate():sortTables.getReverses()">
			  			<tr id="tr_payroll_period">
				  			<td id="td_payroll_period" rowspan="{{ rowFilter(payment)}}" ng-bind="payment.year_report"></td>
				  		</tr>
			  			<tr ng-repeat="(key, report) in payment.reports | filter : {text: payment_concept_filter} | orderBy:sortTables.getPredicate():sortTables.getReverses()">
						    <td scope="row" ng-bind="report.text"></td>
						    <td scope="row" class="text-right" ng-bind="report.amount.toLocaleString(undefined,{minimumFractionDigits: 2})"></td>
			  			</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>