<div class="left">
	<a href="/#/first_step"><img alt="logoprincipal" class="logo" ng-src="images/logo_sodexo.png"></a>
	<h1 class="title left show-for-medium-up"></h1>
</div>
<div class="right">
	<div class="user_nav show-for-large-up">
		<div class="text-right" ng-init="">
			<h5 class="submenu" ng-class="{'active':ubication == 1}" ng-click="change(1)">
				<b>Calculadora</b>
			</h5>
			<h5 class="submenu" ng-class="{'active':ubication == 2}" ng-click="change(2)">
				<b>Empresa</b>
			</h5>
			<h5 class="subheader no-margin capitalize">
				<!--<a ui-sref="main.views.employee_info" >-->
					<span class="icon-user"></span>
					Usuario
				<!--</a>-->
			</h5>
			<div class="worker">
				<img ng-src="images/generic_user_image.jpg">
			</div>
			<!--
			<h5 class="subheader no-margin">
				<a ui-sref="main.views.employee_info" data-tooltip aria-haspopup="true" title="Configuración">
					<span class="icon-cog2"></span>
				</a>
			</h5>
			-->
			<h5 class="subheader no-margin">
				<a href="" ng-click="logout()" rel="nofollow" data-tooltip aria-haspopup="true" title="Salir">
					<span class="icon-logout"></span>
				</a>
			</h5>
		</div>
	</div>
</div>

