<div class="iterate" ng-switch="ubicacion">
	<div class="row collapse" ng-switch-default>
		<div class="large-7 medium-7 columns">
			<div class="thecalendar">
				<div id="vacaciones"></div>
			</div>
		</div>
		<div class="large-2 medium-2 columns">
			<div class="vacation-days">
				<div class="available">
					<h1>{{disponibles}}</h1>
					<h6>DISPONIBLES</h6>
				</div>
				<div class="used">
					<h1>{{usados}}</h1>
					<h6>USADOS</h6>
				</div>
			</div>
		</div>
		<div class="large-3 medium-3 columns" id="maxfix">
			<table class="vacations">
				<thead class="whiteish">
					<tr>
						<th class="desde">DESDE</th>
						<th>HASTA</th>
						<th class="dias">DIAS</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dates in vacationdates">
						<td class="desde">
							<h2>{{ dateHanldler(formatDate(dates[0])) | date:'d' }}</h2>
							<h6>{{ dateHanldler(formatDate(dates[0])) | date:'MMMM' }}</h6>
						</td>
						<td>
							<h2>{{ dateHanldler(formatDate(dates[1])) | date:'d' }}</h2>
							<h6>{{ dateHanldler(formatDate(dates[1])) | date:'MMMM' }}</h6>
						</td>
						<td class="dias"><h2>{{dates[2] | number:0}}</h2></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.employee_info">
		<div class="large-12 columns">
			<div class="datos_empresariales">
				<h4><span class="fa-building-o fa"></span> Mis Datos laborales</h4>
				<hr class="m0" />
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" ui-sortable="sortableOptions" ng-model="employee_info.datos_empresariales">
					<li ng-repeat="data in employee_info.datos_empresariales">
						<div ng-switch="data.ncamp">
							<div ng-switch-default>
								<label for="{{data.ncamp}}">{{data.dcamp}}</label>
								<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{data.ccamp}}"/>
							</div>
							<div ng-switch-when="P0001-ANSVH">
								<label for="{{data.ncamp}}">{{data.dcamp}}</label>
								<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_job_relation(re_laborales,data.ccamp)}}"/>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.employee_info_lookup">
		<div class="large-12 columns">
			<div class="datos_empresariales">
				<h4><span class="fa-building-o fa"></span> Datos laborales</h4>
				<hr class="m0" />
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" ui-sortable="sortableOptions" ng-model="employee_info.datos_empresariales">
					<li ng-repeat="data in employee_info.datos_empresariales">
						<div ng-switch="data.ncamp">
							<div ng-switch-default>
								<label for="{{data.ncamp}}">{{data.dcamp}}</label>
								<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_job_relation(re_laborales,data.ccamp)}}"/>
							</div>
							<div ng-switch-when="P0001-ANSVH">
								<label for="{{data.ncamp}}">{{data.dcamp}}</label>
								<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_job_relation(re_laborales,data.ccamp)}}"/>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.severance">
		<div class="large-8 medium-12 columns large-centered">
			<div class="datos_cesantias">
				<div class="row">
					<div class="large-6 columns">
						<h4><span class="fa-bar-chart fa bluetxt"></span> Mis cesantias</h4>
						<hr class="m0" />
						<div cesantias fpend='{{fpend}}' newbetrg="{{newbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
					</div>
					<div class="large-6 columns">
						<h4><span class="fa-bar-chart fa greentxt" ></span> Mis Int. de cesantias</h4>
						<hr class="m0" />
						<div intcesantias intfpend='{{intfpend}}' intnewbetrg="{{intnewbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>