<div class="padding-container">
	<div ng-model="vacations">
		<h3 class="expand-title text-center first-one">Crear solicitud de vacaciones compensadas</h3>
		<br /><br />
		<div class="row">
			<div class="large-6 medium-6 columns">
				<form ng-submit="putRequest( requerimiento )">
					<div class="row">
						<div class="large-4 medium-4 columns">
							<label for="inicio">Días: </label>
							<div class="row collapse prefix-radius">
								<div class="small-2 columns">
									<span class="prefix date"><i class="fa fa-plane"></i></span>
								</div>
								<div class="small-10 columns">
									<input type="number" id="inicio" ng-model="requerimiento.at_date" required>
								</div>
							</div>
						</div>
						<div class="large-8 medium-8 columns">
							<label for="tipo">Tipo: </label>
							<select name="tipo" id="tipo" ng-options="opt.subty as opt.descr for opt in vac_options" ng-model="requerimiento.tipo" required></select>
						</div>
					</div>
					<!-- <label for="">Monto solicitado: </label>
					<div class="row collapse prefix-radius">
						<div class="small-2 columns">
							<span class="prefix money"><i class="fa fa-usd"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="text" id="monto" ng-model="requerimiento.quantity" class="money" maxlength="11" >
						</div>
					</div> -->
					<label for="">Motivo: </label>
					<textarea name="motivo" id="" cols="10" ng-model="requerimiento.reason"></textarea>
					<label for="">Imagen: </label> 
					<div class="button upload" ngf-select ngf-change="loadImage($files)">Subir archivo</div>
					
					<div class="text-right">
						<button type="submit" class="button success small" ng-disabled="requerimiento.sending" > <img src="images/282.gif" width="15px" ng-if="requerimiento.sending" /> &nbsp;<span ng-bind="requerimiento.sending ? 'Guardando' : 'Solicitar'" ></span></button>
					</div>
				</form>
			</div> <!-- /large-6 -->
			<div class="large-6 medium-6 columns">
				<table class="vacations">
					<thead>
						<tr>							
							<th class="dias">DIAS</th>
							<th class="tipo">TIPO</th>							
							<th>ESTADO</th>
							<th>IMAGEN</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="req_info in vacations ">							
							<td class="dias"><h2>{{req_info.at_date}}</h2></td>
							<td ng-bind="mot(req_info.tipo)"></td>
							
							<td><h6 class="bold" ><span class="en espera">en espera</span></h6></td>
							<td><a href="" class="" ng-click="modalImage(req_info.attachment)">Ver</a></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal($index,'myModal')"></a>
								<div id="myModal-{{$index}}" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
									<a href="" ng-click="deleteVacation(req_info,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="image-modal" class="reveal-modal" data-reveal aria-labelledby="Imagen" aria-hidden="true" role="dialog">
			<img ng-if="urlImage" ng-src="{{urlImage}}" width="100%" height="1100px" />				
			<p ng-hide="urlImage">No existe imagen</p> 
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</div>	
</div>