<nav ng-class="getNavStyle(scroll)">
  <!-- <button class="button small" ng-click="goPrevious()"><span class="fa fa-arrow-circle-o-left"></span></button>
  <button class="button small" ng-click="goNext()"><span class="fa fa-arrow-circle-o-right"></span></button> -->
  <button class="button small secondary" ng-click="zoomIn()"><span class="fa fa-search-plus fa-lg"></span></button>
  <button class="button small secondary" ng-click="zoomOut()"><span class="fa fa-search-minus fa-lg"></span></button>
  <a ng-href="pdfUrl" class="button small secondary" target="_blank"><span class="fa fa-print fa-lg"></span></a>
  <div ng-if="ubicacion == 'main.views.certificates_vacations' && employee.vacations.length > 1" class="vacations-opt">
    <select ng-init="vacacion = vacations[0]" ng-options="vacation as vacation.name_iden for vacation in vacations" ng-model="vacacion" ng-change="cambiarPdf(vacacion)"></select>  
    <!-- <select ng-init="vacacion = employee.vacations[0]" ng-options="vacation as vacation.begda for vacation in employee.vacations" ng-model="vacacion" ng-change="cambiarPdf(vacacion)"></select>	 -->
  </div>
  <div ng-if="ubicacion == 'main.views.certificates_payroll' && employee.volpago.length > 1" class="vacations-opt">
    <select ng-init="volante = volpago[0]" ng-options="volante as volante.name_iden for volante in volpago"  ng-model="volante" ng-change="cambiarPdf(volante)"></select><!-- <select ng-init="volante = employee.volpago[0]" ng-options="volante as volante.begda for volante in employee.volpago"  ng-model="volante" ng-change="cambiarPdf(volante)"></select> -->	
  </div>
  
  <div class="paginas" ng-if="pageCount > 1" data="{{pageCount}}" class="dib">
  	  <span>Página: </span>
  	  <input type="text" min=1 ng-model="pageNum" id="smallinput">
  	  <span> / {{pageCount}}</span>
  	</div>
</nav>


<h5 class="text-center subheader" ng-show="loading"> Cargando <b>{{progreso}}</b> de <span>100%</span></h5>
<canvas id="pdf" class="rotate0"></canvas>
<div class="finalpdf"></div>