<div class="padding-container">
	<div>
		<h3 class="expand-title text-center first-one">Incapacidades</h3>
		<div class="row">
			<fieldset>
				<legend>Filtros</legend>

				<div class="large-6 medium-6 columns end">
					<div class="large-6 medium-6 columns end">
							<label for="begda_filter" class="inline">Fecha inicio incapacidad:</label>
					</div>
					<div class="large-6 medium-6 columns">
						<select id="begda_filter" ng-model="begda_filter">
							<option value="">Todos las incapacidades</option>
							<option ng-repeat="date in begdas_incapacities">{{ date }}</option>
						</select>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="row">
			<div class="large-12 medium-12 columns">
				<table>
				  <caption>Incapacidades</caption>
				  <thead>
					  <tr>
					  	<th scope="column" class="text-center">Motivo de la incapacidad</th>
					  	<th scope="column" class="text-center">Fecha de inicio</th>
					    <th scope="column" class="text-center">Fecha de fin</th>
					    <th scope="column" class="text-center">Dias habiles asignados</th>
					    <th scope="column" class="text-center">Dias calendario recibidos</th>
					  </tr>	
				  </thead>
			  	<tbody>
		  			<tr ng-repeat="permission in user.incapacities | filter:begda_filter ">
		  				<td scope="row">{{ permission.text_incapacity }}</td>
					    <td scope="row" class="text-right">{{ permission.begda  }}</td>
					    <td scope="row" class="text-right">{{ permission.endda  }}</td>
					    <td scope="row" class="text-right">{{ permission.days_working_incapacity }}</td>
					    <td scope="row" class="text-right">{{ permission.days_taken_incapacity }}</td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>