<div class="padding-container">
	<h3 class="expand-title text-center first-one">Incapacidades</h3>
	<div ng-hide="existsIncapacities()">
		<message-report titulo="titleReport" other="titleReport2"></message-report>
	</div>
	<div ng-show="existsIncapacities()">
		<div class="row">
			<div class="large-12 medium-12 columns">
				<div ng-show="expression">
					<button>Atras</button>
				</div>
				<div></div>
				<div ng-show="expression">
					<button>Adelante</button>
				</div>
			</div>
			<div class="large-12 medium-12 columns">
				<table>
					<thead>
					  <tr>
					  	<th scope="column" class="text-center">
				      	<div class="header" id="text_incapacity" ng-click="sortTables.sortingTable('text_incapacity')">Motivo de la incapacidad</div>
					  	</th>
					  	<th scope="column" class="text-center th-incapacity-date" >
				      	<div class="header" id="begda" ng-click="sortTables.sortingTable('begda')">Fecha de inicio</div>
				  		</th>
					    <th scope="column" class="text-center th-incapacity-date">Fecha de fin</th>
					    <th scope="column" class="text-center">Dias habiles asignados</th>
					    <th scope="column" class="text-center">Dias calendario recibidos</th>
					  </tr>
					  <tr>
					  	<th scope="column">
					  		<input type="text" class="input-filter" ng-model="text_incapacity" placeholder="Filtro">
					  	</th>
					  	<th scope="column">
					  		<input type="text" class="input-filter" ng-model="begda" placeholder="Filtro">
				  		</th>
					    <th scope="column"></th>
					    <th scope="column"></th>
					    <th scope="column"></th>
					  </tr>	
				  </thead>
				  <tbody>
			  		<tr ng-repeat="permission in incapacities | filter : {begda_format: begda, text_incapacity: text_incapacity} | orderBy:sortTables.getPredicate():sortTables.getReverses()"> <!--   -->
		  				<td scope="row" ng-bind="permission.text_incapacity"></td>
					    <td scope="row" class="text-right" ng-bind="permission.begda_format"></td>
					    <td scope="row" class="text-right" ng-bind="permission.endda.value"></td>
					    <td scope="row" class="text-right" ng-bind="permission.days_working_incapacity"></td>
					    <td scope="row" class="text-right" ng-bind="permission.days_taken_incapacity"></td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>