<div class="user-info show-for-medium-only">
  <div class="pic">
    <img ng-src="{{user.pic ? user.pic : user.employee.image.url}}">
  </div>
  <div class="user-buttons">
    <a ui-sref="main.views.notifications()" class="movil-comments">
      <span class="icon-comment"></span>
      <i class="number mobile-comment"  ng-if="notifications.count > 0" ng-bind="notifications.count" ></i>
    </a>
    <!--<a ui-sref="main.views.edit()">
      <span class="icon-cog2"></span>
    </a>
    -->
    <a ng-click="logout()">
      <span class="icon-logout"></span>
    </a>
  </div>
  <h6 class="text-center no-margin">
    <a ui-sref="main.views.employee_info">
      <span class="icon-user"></span>
      {{user.name}}
    </a>
  </h6>
</div>

<ul class="off-canvas-list">
  <li><a href="#/home"><i class="fa fa-home fa-lg"></i> Inicio</a></li>
  <li ng-if="seeValidation(user.employee.see_organ)" ui-sref="main.views.organigram()"><a><i class="fa fa-sitemap fa-lg"></i> Organigrama</a></li>
  <!-- <li><a ng-href="#/organigram/{{user.employee_id}}" class="disabled"><i class="fa fa-sitemap fa-lg"></i> Organigrama</a></li> -->
  <!-- <li><a ui-sref="main.views.employees"><i class="fa fa-users fa-lg"></i> Empleados</a></li> -->
  <li class="has-submenu" ng-if="user.company.show_certificates_labor || user.company.show_certificates_vacations || user.company.show_certificates_payroll || user.company.show_certificates_income">
    <a href="">
      <i class="fa fa-file fa-lg"></i> Autoservicios
      <i class="fa fa-angle-right fa-right fa-lg"></i>
    </a>
    <ul class="left-submenu">
      <li class="back">
        <a href="">Volver</a>
      </li>
      <li ng-if="user.company.show_certificates_labor" >
        <a ui-sref="main.views.certificates_labor({id:laborCertificate})">
          <i class="fa fa-file-text-o fa-lg"></i> Certificado laboral
        </a>
      </li>
      <li ng-if="user.company.show_certificates_vacations" >
        <a ui-sref="main.views.certificates_vacations({id:pdfKeyInit})">
          <i class="fa fa-plane fa-lg"></i> Carta de vacaciones
        </a>
      </li>
      <li ng-if="user.company.show_certificates_payroll" >
        <a ui-sref="main.views.certificates_payroll({id:pdfKeyInit})">
          <i class="fa fa-briefcase fa-lg"></i> Recibos de nomina
        </a>
      </li>
      <li ng-if="user.company.show_certificates_income" >
        <a ui-sref="main.views.certificates_income({id:pdfKeyInit})">
          <i class="fa fa-institution fa-lg"></i> Certificado de ing. y ret.
        </a>
      </li>
<!--
      <li class="disabled">
        <a href="">Saldos</a>
      </li>
-->
    </ul>
  </li>
  <li class="has-submenu" ng-if="user.company.show_scesa || user.company.show_licenses || user.company.show_loans || user.company.show_vacations || user.company.show_vacations_c">
    <a href="">
      <i class="fa fa-check fa-lg"></i> Solicitudes
      <i class="fa fa-angle-right fa-right fa-lg"></i>
    </a>
    <ul class="left-submenu">
      <li class="back">
        <a href="">Volver</a>
      </li>
      <li ng-if="cesaAprobador() && user.labor.scesa == 'X' && user.company.show_scesa" >
        <a ui-sref="main.views.severance">
          Anticipo de cesantías
        </a>
      </li>
      <li ng-if="permAprobador() && user.labor.sperm == 'X' && user.company.show_licenses" >
        <a ui-sref="main.views.licenses">
          Permisos
        </a>
      </li>
      <li ng-if="presAprobador() && user.labor.spres == 'X' && user.company.show_loans"  >
        <a ui-sref="main.views.loans">
          Prestamos
        </a>
      </li>
      <li ng-if="vacaAprobador() && user.labor.svaca == 'X' && user.company.show_vacations">
        <a ui-sref="main.views.vacations">
          Vacaciones
        </a>
      </li>
      <li  ng-if="vccpAprobador() && user.labor.svccp == 'X' && user.company.show_vacations_c">
        <a ui-sref="main.views.compensatory_vacations">
          Vacaciones compensadas
        </a>
      </li>
    </ul>
  </li>
  <li class="has-submenu" ng-if="user.company.show_hoex || user.company.show_inhabilities || existsIndebtedness() || existsEmbargoes()" >
    <a href="">
      <i class="fa fa-paste fa-lg"></i> Registros
      <i class="fa fa-angle-right fa-right fa-lg"></i>
    </a>
    <ul class="left-submenu">
      <li class="back">
        <a href="">Volver</a>
      </li>

      <li ng-if="existsIndebtedness()">
        <a ui-sref="main.views.indebtedness_levels">
          Nivel de endeudamiento
        </a>
      </li>
      <li ng-if="existsEmbargoes()">
        <a ui-sref="main.views.seizures">
          Embargos
        </a>
      </li>

      <li ng-if="hoexAprobador() && user.labor.shoex == 'X' && user.company.show_hoex">
        <a ui-sref="main.views.extras">
          Horas extras
        </a>
      </li>
      <li ng-if="incaAprobador() && user.labor.sinca == 'X' && user.company.show_inhabilities">
        <a ui-sref="main.views.inhabilities">
          Incapacidades
        </a>
      </li>
    </ul>
  </li>
  <li class="has-submenu disabled" ng-if="seeValidation(user.employee.see_rpgen)">
    <a href="" >
      <i class="fa fa-line-chart fa-lg"></i> Servicios gerenciales
      <i class="fa fa-angle-right fa-right fa-lg"></i>
    </a>
    <ul class="left-submenu">
      <li class="back">
        <a href="">Volver</a>
      </li>
      <li class="disabled">
        <a href="">Empleados activos</a>
      </li>
      <li class="disabled">
        <a href="">Rotación de personal</a>
      </li>
      <li class="disabled">
        <a href="">Vencimiento de contratos</a>
      </li>
      <li>
        <a ui-sref="main.views.managment">Total de absentismos</a>
      </li>
      <li class="disabled">
        <a href="">Total  hora extras</a>
      </li>
      <li class="disabled">
        <a href="">Resumen de cargos</a>
      </li>
    </ul>
  </li>
  <li ng-if="user.company.show_articles">
    <a ui-sref="main.views.articles()">
      <i class="fa fa-bullhorn fa-lg"></i> Gestor de contenidos
    </a>
  </li>
<!--
  <li>
    <a ui-sref="main.views.reports()">
      <i class="fa fa-flag fa-lg"></i> Reportes
    </a>
  </li>
-->
  <li class="has-submenu" ng-if="existsApprovals()">
    <a href="" >
      <i class="fa fa-check-circle-o fa-lg"></i> Aprobaciones
      <i class="number main-menu-comment aprobaciones" ng-if="notifications['count'] > 0">{{notifications['count']}}</i>
      <i class="fa fa-angle-right fa-right fa-lg"></i>
    </a>
    <ul class="left-submenu">
      <li class="back">
        <a href="">Volver </a>
      </li>
      <!-- Esto se debe eliminar más adelante, 
      <li ng-if="notifications.articles > 0">
        <a ui-sref="main.views.articles">
          <i class="fa fa-paste fa-lg"></i> Articulos
          <i class="number main-menu-comment registers">{{notifications.articles}}</i>
          <i class="fa fa-angle-right fa-right fa-lg"></i>
        </a>
      </li>
      -->
      <li ng-if="existsRegisters()">
        <a ui-sref="main.views.approvals_licenses">
          <i class="fa fa-paste fa-lg"></i> Registros
          <i class="number main-menu-comment registers">{{notifications.inhability + notifications.extra}}</i>
          <i class="fa fa-angle-right fa-right fa-lg"></i>
        </a>
      </li>
      <li ng-if="existsRequests()">
        <a ui-sref="main.views.approvals_requirements">
          <i class="fa fa-check fa-lg"></i> Solicitudes
          <i class="number main-menu-comment">{{ notifications.vacation + notifications.license + notifications.severances + notifications.compensatory_vacation }}</i>
          <i class="fa fa-angle-right fa-right fa-lg"></i>
        </a>
      </li>
      <li ng-if="existsMasterData()">
        <a ui-sref="main.views.approvals">
          <i class="fa fa-users fa-lg"></i> Datos maestros
          <i class="number main-menu-comment datos_maestros">{{notifications.info}}</i>
          <i class="fa fa-angle-right fa-right fa-lg"></i>
        </a>
      </li>
    </ul>
  </li>
  <!-- <li>
    <a ui-sref="main.views.companynew">
    <i class="fa fa-building fa-lg"></i> Añadir empresa
    </a>
    </li> -->
  </ul>
