<div class="padding-container">
	<div ng-model="severance">
		<h3 class="expand-title text-center">Crear solicitud de anticipo de cesantias</h3>
		<br /><br />
		<div class="row">
			<div class="large-5 medium-5 columns">
				<form ng-submit="putRequest( severance )">
					<div class="row">
						<div class="large-12 columns">
							<label for="inicio"># de autorización:</label>
							<div class="row collapse prefix-radius">
								<div class="small-2 columns">
									<span class="prefix date"><i class="fa fa-check"></i></span>
								</div>
								<div class="small-10 columns">
									<input type="number" id="autorizacion" ng-model="severance.approval" required>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-5 medium-5 columns">
							<label for="inicio">Fecha de corte:</label>
							<div class="row collapse prefix-radius">
								<div class="small-3 columns">
									<span class="prefix calendar"><i class="fa fa-calendar"></i></span>
								</div>
								<div class="small-9 columns">
									<input type="date" ui-date id="date" ng-model="severance.cut" required>
								</div>
							</div>
						</div>
						<div class="large-7 medium-7 columns">						
							<label for="inicio">Motivo: </label>
							<select name="subty" id="subty" ng-model="severance.subty" >
								<option ></option>
								<option ng-repeat="tipo_info in options" ng-value="tipo_info.subty" ng-bind="tipo_info.descr"></option>			
							</select>
						</div>
					</div>
					<label for="">Monto solicitado: </label>
					<div class="row collapse prefix-radius">
						<div class="small-2 columns">
							<span class="prefix money"><i class="fa fa-usd"></i></span>
						</div>
						<div class="small-10 columns">
							<input type="text" id="monto" ng-model="severance.monto" class="money" maxlength="11" required>
						</div>
					</div>
					<br />
					<div class="text-right">						
						<button type="submit" class="button success small" ng-disabled="severance.sending" > <img src="images/282.gif" width="15px" ng-if="severance.sending" /> &nbsp;<span ng-bind="severance.sending ? 'Guardando' : 'Solicitar'" ></span></button>
					</div>
				</form>
			</div> <!-- /large-6 -->
			<div class="large-7 medium-7 columns">
				<table class="vacations">
					<thead>
						<tr>
							<th># AUTORIZACIÓN</th>
							<th>MOTIVO</th>
							<th>MONTO</th>
							<th>ESTADO</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
					
						<tr ng-repeat="severance in severances">
							<td>
								<h5 ng-bind="severance.numero_de_actorizacion"></h5>
							</td>
							<td>
								<span ng-bind="mot(severance.subty)" ></span>
							</td>
							<td class="desde"><h5 ng-bind="severance.monto_current"></h5></td>
							<td><h6 class="bold" ><span>en espera</span></h6></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal($index,'myModal')"></a>
								<div id="myModal-{{$index}}" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
										<a href="" ng-click="deleteSeverance(severance,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>	
</div>