<div class="padding-container">
	<h3 class="expand-title text-center first-one">Historico de Sueldos</h3>
	
	<div ng-hide="existsHistoricalSalaries()" ng-include="warningMessage"></div>

	<div ng-show="existsHistoricalSalaries()">
		<div class="row">
			<fieldset>
				<legend>Filtros</legend>
				<div class="large-2 medium-2 columns">
					<label for="payroll_filter" class="inline">Empleado:</label>
				</div>
				<div class="large-4 medium-4 columns left">
					<select id="payroll_filter" ng-model="position_filter" ng-change="employeeFilter()">
						<option ng-repeat="(key, historical) in historical_salaries" value="{{ key }}">{{ historical.employee_name }} {{ historical.employee_lastname }}</option>
					</select>
				</div>
			</fieldset>
		</div>
		
		<div class="row">
			<div class="large-12 medium-12 columns">
				<table>
				  <thead>
					  <tr>
					  	<th scope="column" class="text-center">Cargo</th>
					    <th scope="column" class="text-center">Fecha de inicio</th>
					    <th scope="column" class="text-center">Fecha de fin</th>
					    <th scope="column" class="text-center">Salario</th>
					  </tr>	
				  </thead>
			  	<tbody ng-repeat="(key, employee) in employeeData.historical">
			  		<tr id="tr_payroll_period">
			  			<td id="td_payroll_period" rowspan="{{ rowFilter(employee) }}">{{ employee.position }}</td>
			  		</tr>
		  			<tr ng-repeat="(key2, salary) in employee.salaries | orderBy:'-begda'">
					    <td scope="row" class="text-right">{{salary.begda | date:'dd/MM/yyyy'}}</td>
					    <td scope="row" class="text-right">
					    	<div ng-show="showDate(key, key2)">
									<strong>{{ validateDateNow(salary.endda) | date:'dd/MM/yyyy'}}</strong>
								</div>
								<div ng-hide="showDate(key, key2)">
									{{ validateDateNow(salary.endda) }}
								</div>
					    </td>
					    <td scope="row" class="text-right">{{salary.amount_accrued.toLocaleString(undefined,{minimumFractionDigits: 2}) }}</td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>