<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	<li class="widget" ng-repeat="widget in common.widgets">
		<h4>{{ widget.name }}</h4>
		{{ widget.config.param_a }}
	</li>
</ul>


  <h1 class="subheader">Companies</h1>
  <ul>
    <li ng-repeat="company in companies">
		<a ng-click="viewCompany(company.id)"><span>{{company.name}}</span></a>
		<div ng-include="'app/companies/partials/_crudbuttons.tpl.html'"></div>
    </li>
  </ul>
  
  <a ui-sref="main.views.companynew" class="button tiny success">Add New Company</a>
  
  <!-- Include popup template -->
  <div ng-include="'angular-popup-service/partials/popup.html'"></div>

