<div class="padding-container">
	<div ng-model="employee_info" class="master-data">
    
		<div class="row" ng-if="approver">
			<div class="right">
				<!--
			  <div class="large-3 columns">
			    <h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
			  </div>
			  <div class="large-9 columns">
			    <div class="aprobador">
			      <div class="pic dib">
			        <img  ng-src="{{approver.image.url}}">
			      </div>
			      <div class="info dib">
			        <a href="mail_to:{{approver.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{approver.short_name | cut:30}}</a><br>
			        <a ng-if="approver.phone" href="tel://{{approver.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{approver.phone}}</a>
			      </div>
			    </div>
			  </div>
			  -->
			</div>
		</div>
    
		<div class="row collapse">
			<div class="large-12 columns">
				<div class="datos_contacto">
					<div class="panel bgwhite">
						<h4><span class="fa-info-circle fa"></span> Mis datos de contacto</h4>
						<hr class="m0" />
						<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
							<li ng-repeat="data in employee_info.datos_contacto">
								<label for="{{data.ncamp}}">{{data.dcamp}}</label>
								<div class="row collapse">
									<div class="small-2 columns">
										<a href="#" class="button postfix"><span class="{{icons[$index]}}"></span></a>
									</div>
									<div class="small-10 columns">
										<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{data.ccamp}}"/>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row collapse">
			<div class="large-2 small-12 columns">
				<div class="icon-bar large-vertical {{countUp()}}">
					<a class="item active" ng-click="sorthings($event, 'datos_laborales')">
						<span class="fa fa-border fa-building fa-2x" ></span>
						<label>Laborales</label>
					</a>
					<a ng-if="employee_info.datos_personales.length" class="item" ng-click="sorthings($event, 'datos_personales')">
						<span class="fa fa-border fa-user fa-2x" ></span>
						<label>Personales</label>
					</a>
					<a ng-if="employee_info.datos_familiares.length" class="item" ng-click="sorthings($event, 'datos_familiares')">
						<span class="fa fa-border fa-users fa-2x"></span>
						<label>Familiares</label>
					</a>
					<a ng-if="employee_info.datos_beneficiarios.length" class="item" ng-click="sorthings($event, 'datos_beneficiarios')">
						<span class="fa fa-border fa-child fa-2x"></span>
						<label>Beneficiarios</label>
					</a>
					<a ng-if="employee_info.datos_bancarios.length" class="item" ng-click="sorthings($event, 'datos_bancarios')">
						<span class="fa fa-border fa-credit-card fa-2x"></span>
						<label>Financieros</label>
					</a>
					<a ng-if="employee_info.datos_estudios.length" class="item" ng-click="sorthings($event, 'datos_estudios')">
						<span class="fa fa-border fa-book fa-2x"></span>
						<label>Estudios</label>
					</a>
					<a ng-if="employee_info.datos_impuestos.length" class="item" ng-click="sorthings($event, 'datos_impuestos')">
						<span class="fa fa-border fa-briefcase fa-2x"></span>
						<label>Impuestos</label>
					</a>
					<a ng-if="employee_info.datos_seguridadsocial.length" class="item" ng-click="sorthings($event, 'datos_seguridadsocial')">
						<span class="fa fa-border fa-stethoscope fa-2x"></span>
						<label>Seguridad social</label>
					</a>
				</div>
			</div>
			
			<div class="large-10 small-12 columns">
				<div class="information datos_laborales">
					<div class="large-12 columns">
						<div class="datos_empresariales">
							<h4><span class="fa-building fa"></span> Mis datos laborales</h4>
							<hr class="m0" />
							<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" ui-sortable="sortableOptions" >
								<li ng-repeat="data in employee_info.datos_empresariales">
									<div ng-switch="data.ncamp">
										<div ng-switch-default>
											<label for="{{data.ncamp}}">{{data.dcamp}}</label>
											<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-value="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
										</div>
										<div ng-switch-when="P0001-ANSVH">
											<label for="{{data.ncamp}}">{{data.dcamp}}</label>
											<input disabled="{{data.sedit == 'X' ? true : false}}" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-value="find_job_relation(re_laborales,data.ccamp)" class="{{ isFieldDisabled(data.sedit) }}"/>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div ng-include="includeInfoMessage"></div>
					</div>
				</div>
				
				 
				<div class="information datos_personales">
					<h4><span class="fa fa-user"></span> Mis datos personales</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_personales">
						<li ng-repeat="data in employee_info.datos_personales">
							<div ng-switch="data.lstbx" class="relative" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
								<div ng-switch-default>
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{ data.dcamp }}</label>
									<div ng-switch="data.tcamp">
										<div ng-switch-when="DATE">
											<div ng-include="inputDateEmployeeInclude"></div>
										</div>
										<div ng-switch-default>
											<div ng-include="inputEmployeeInclude"></div>
										</div>
									</div>
								</div>
								<div ng-switch-when="IH_TB_T005L">
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{data.dcamp}}</label>
									<select ng-disabled="!edit_field(data.sedit)" ng-model="country" ng-class="search_country(data.ccamp)" ng-options="pais.land1 as pais.landx for pais in paises"  ng-change="cambiar(country)" ng-init="copy=data.ccamp" ></select>
								</div>
								<div ng-switch-when="IH_TB_T005S">
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{data.dcamp}}</label>
									<select ng-disabled="!edit_field(data.sedit)" ng-model="states" ng-class="search_estado(data.ccamp)" ng-options="estado.bland as estado.bezei for estado in estados"  ng-change="cambiar_estados(states)" ng-init="copy=data.ccamp" ></select>
								</div>
								<div ng-switch-when="IH_TB_T005">
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{data.dcamp}}</label>
									<select ng-disabled="!edit_field(data.sedit)" ng-model="natio" ng-class="search_natio(data.ccamp)" ng-options="pais.land1 as pais.natio for pais in paises"  ng-change="cambiar(natio)" ng-init="copy=data.ccamp" ></select>
								</div>
								<div ng-switch-when="IH_TB_GESC">
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{data.dcamp}}</label>
									<select ng-disabled="!edit_field(data.sedit)" ng-model="gender" ng-class="search_genero(data.ccamp)" ng-options="genero.label as genero.value for genero in gender_obj"  ng-change="cambiar_genero(gender)" ng-init="copy=data.ccamp" ></select>
								</div>
								<div ng-switch-when="IH_TB_T502T">
									<label data="{{data.pvisu}}" for="{{data.ncamp}}">{{data.dcamp}}</label>
									<select ng-disabled="!edit_field(data.sedit)" ng-model="est_civil" ng-class="search_est_civil(data.ccamp)" ng-options="est.label as est.value for est in estado_obj"  ng-change="cambiar_est_civil(est_civil)" ng-init="copy=data.ccamp"></select>
								</div>
							</div>
						<li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
				
				<div class="information datos_familiares">
					<h4><span class="fa fa-users"></span> Mis datos familiares </h4>
					<hr class="m0" />
					<div ng-repeat="family in familyData">
						<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_familiares">
							<li ng-repeat="data in family" >
								<div ng-switch="data.tcamp" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
									<div ng-switch-default>
										<div ng-switch="data.lstbx">
											<div ng-switch-default>
												<label for="{{data.ncamp}}">{{data.dcamp}}</label>
												<div ng-switch="data.tcamp">
													<div ng-switch-when="DATE">
														<input ng-disabled="!edit_field(data.sedit)" ui-date type="text" name="{{data.ncamp}}" ng-model="data.ccamp" ng-init="copy=data.ccamp;" class="{{ isFieldDisabled(data.sedit) }}">
													</div>
													<div ng-switch-default>
														<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" ng-init="copy=data.ccamp;" class="{{ isFieldDisabled(data.sedit) }}">
													</div>
												</div>
											</div>
											<div ng-switch-when="IH_TB_FAMSA">
												<label for="{{data.ncamp}}">{{data.dcamp}}</label>
												<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_related(familiares, data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
											</div>
											<div ng-switch-when="IH_TB_T005L">
												<label for="{{data.ncamp}}">{{data.dcamp}}</label>
												<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_country(paises,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
											</div>
											<div ng-switch-when="IH_TB_T005">
												<label for="{{data.ncamp}}">{{data.dcamp}}</label>
												<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_natio(paises,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
											</div>
											<div ng-switch-when="IH_TB_GESC">
												<label for="{{data.ncamp}}">{{data.dcamp}}</label>
												<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{genero[data.ccamp]}}" class="{{ isFieldDisabled(data.sedit) }}"/>
											</div>
										</div>
									</div>
									<!--
									<div ng-switch-when="HIDE">
										<label for="{{data.ncamp}}" class="hide">{{data.dcamp}}</label>
										<input type="hidden" name="{{data.ncamp}}" value="{{data.ccamp}}"/>
									</div>
									-->
								</div>
							</li>
						</ul>
						<br class="m0" />
						<hr class="m0" />
					</div>
					<div ng-include="includeInfoMessage"></div>
				</div>
				
				<div class="information datos_beneficiarios">
					<h4><span class="fa fa-child"></span> Mis datos beneficiarios</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_beneficiarios">
						<li ng-repeat="data in employee_info.datos_beneficiarios" >
							<div ng-switch="data.ncamp" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
								<div ng-switch-default >
									<label for="{{data.ncamp}}" data-value="{{data.ccamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0831-FAM02">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : 'text'}}" name="{{data.ncamp}}" value="{{find_related(familiares, data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0831-FAM01">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : 'text'}}" name="{{data.ncamp}}" value="{{find_related(familiares, data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
							</div>
						</li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
				
				<div class="information datos_estudios">
					<h4><span class="fa fa-bank"></span> Mis datos estudios</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_estudios">
						<li ng-repeat="data in employee_info.datos_estudios">
							<div ng-switch="data.ncamp" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
								<div ng-switch-default>
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0022-AUSBI">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_formacion(formacion,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0022-SLAND">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_country(paises,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0022-SLABS">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_titulos(titulos,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0022-SLTP1">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_especialidad(especialidad,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0022-SLART">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_institutos(institutos,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
							</div>
						</li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
				
				
				<div class="information datos_bancarios">
					<h4><span class="fa fa-bank"></span> Mis datos finacieros</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_bancarios">
						<li ng-repeat="data in employee_info.datos_bancarios">
							<div ng-switch="data.ncamp" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
								<div ng-switch-default>
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0009-BANKS">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_country(paises,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0008-BET01">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'TEX2' || data.tcamp == 'NUM' ? 'text' : data.tcamp}}" name="{{data.ncamp}}" value="{{data.ccamp | currency: '$':0}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0009-BANKL">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{find_banks(bancos,data.ccamp)}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
								<div ng-switch-when="P0009-BKONT">
									<label for="{{data.ncamp}}">{{data.dcamp}}</label>
									<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" value="{{data.ccamp == '01' ? 'Cuenta corriente' : 'Cuenta de ahorros'}}" class="{{ isFieldDisabled(data.sedit) }}"/>
								</div>
							</div>
						</li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
				
				
				<div class="information datos_impuestos">
					<h4><span class="fa fa-child"></span> Mis datos de impuestos</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" ui-sortable="sortableOptions" ng-model="employee_info.datos_impuestos">
						<li ng-repeat="data in employee_info.datos_impuestos" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
							<label for="{{data.ncamp}}">{{data.dcamp}}</label>
							<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
						</li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
        
				<div class="information datos_seguridadsocial">
					<h4><span class="fa fa-child"></span> Mis datos de seguridad social</h4>
					<hr class="m0" />
					<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3" ui-sortable="sortableOptions" ng-model="employee_info.datos_seguridadsocial">
						<li ng-repeat="data in employee_info.datos_seguridadsocial" ng-init="data.ccamp=stringTo(data.tcamp, data.ccamp)">
							<label for="{{data.ncamp}}">{{data.dcamp}}</label>
							<input ng-disabled="!edit_field(data.sedit)" type="{{data.tcamp == 'NUM' ? 'number' : data.tcamp}}" name="{{data.ncamp}}" ng-model="data.ccamp" class="{{ isFieldDisabled(data.sedit) }}"/>
						</li>
					</ul>
					<div ng-include="includeInfoMessage"></div>
				</div>
			</div> 
		</div>
	</div>
</div>
<br />
<div class="missolicitudes" ng-if="missolicitudes.length > 0">
	<h3 class="expand-title text-center">Mis solicitudes de datos maestros</h3>
	<br />
	<div class="row">
		<div class="large-12 columns">
			<table class="vacations">
				<thead>
					<tr>
						<th>Campo</th>
						<th>Cambio</th>
						<th>Estado</th>
						<th>Fecha de petición</th>
						<th class="borrar">BORRAR</th>
					</tr>
				</thead>
				<tbody id="mis_solicitudes">
					<tr ng-repeat="solicitud in missolicitudes">
						<td>
							<h6>{{ solicitud.dcamp }}</h6>
							<h6 class="subheader"><span class="label secondary">{{ solicitud.where }}</span></h6>
						</td>
						<td>
							<h5 class="text-center">{{solicitud.comparador ? solicitud.comparador : solicitud.ccamp}}</h5>
						</td>
						<td>
							<h5 class="text-center"><span class="{{solicitud.approved}}">{{ solicitud.approved ? "Aprobado" : "En espera" }}</h5>
						</td>
						<td>	
							<h6><span class="fa fa-calendar fa-lg"></span> {{ solicitud.created_at | date:'short' }}</h6>
						</td>
						<td>
							<a href="" class="acciones borrar" ng-click="openModal($index,'elmodal')"></a>
							<div id="elmodal-{{$index}}" class="reveal-modal tiny" data-reveal>
								<h4 class="text-center"><span class="fa fa-warning fa-2x redtxt"></span></h4>
								<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
								<br />
								<div class="text-center">
									<a href="" ng-click="deleteSolicitud(solicitud,$index)" class="button alert">Borrar</a>
								</div>
								<a class="close-reveal-modal">&#215;</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<br /><br />
		</div>
	</div>
</div>
