<div class="padding-container">
   <div class="solicitudes" ng-if="infos.length > 0">
      <br /><br />
   	<h3 class="expand-title text-center first-one">Aprobaciones de datos maestros</h3>
   	<br />
   	<div class="row">
   		<div class="large-12 columns">
   			<table class="vacations">
   				<thead>
   					<tr>
   						<th>Empleado</th>
   						<th>Campo</th>
   						<th>Cambio</th>
   						<th>Estado</th>
   						<th>Fecha de petición</th>
   						<th class="aprobar">APROBAR</th>
   						<th class="negar">NEGAR</th>
   					</tr>
   				</thead>
   				<tbody>
   					<tr ng-repeat="solicitud in infos">
   						<td>
   						<!-- 	<div class="profilepic">
   								<img ng-src="{{solicitud.employee.image}}" alt="" />
   							</div> -->
   							<h5>{{solicitud.employee.short_name}} </h5>
   							<!-- <h6 class="subheader no-margin capitalize">{{solicitud.employee.posicion}} </h6> -->
   						</td>
   						<td>
   							<h6>{{ solicitud.dcamp }}</h6>
   						</td>
   						<td>
   							<h5 class="text-center">{{solicitud.comparador ? solicitud.comparador : solicitud.ccamp}}</h5>
   						</td>
   						<td>
   							<h5><span>en espera</h5>
   						</td>
   						<td>	
   							<h6><span class="fa fa-calendar fa-lg"></span> {{ solicitud.created_at | date:'short' }}</h6>
   						</td>
   						<td><a href="" ng-click="approveInfo(solicitud)" class="acciones"></a></td>
   						<td><a href="" ng-click="deniedInfo(solicitud)" class="acciones negar"></a></td>
          
   					</tr>
   				</tbody>
   			</table>
   			<br /><br />
   		</div>
   	</div>
   </div>
	</div>	
</div>
