<div class="padding-container firstone">
  <div ng-model="approvals">
    <h3 class="expand-title text-center">Aprobar solicitudes de vacaciones</h3>
    <br /><br />
    <div class="row">
      <div class="large-12 columns">
        <div class="show-for-small-only">
          <div class="vacaciones table-response" ng-repeat="req_info in only_not_user">
            <h3>{{req_info.employee.short_name}} </h3>
            <div class="dias {{req_info.status}}">
              <h2>{{req_info.dias}}</h2>
              <h6>DIAS</h6>
            </div>
            <div class="desde">
              <h2>{{ req_info.start_date | date:'d' }}</h2>
              <h6>{{ req_info.start_date | date:'MMMM' }}</h6>
            </div>
            <div class="hasta">
              <h2>{{ req_info.end_date | date:'d' }}</h2>
              <h6>{{ req_info.end_date | date:'MMMM' }}</h6>
            </div>
            <div class="posibilidades">
              <a ng-if="req_info.status != 'Aprobado'" href="" ng-click="aproveVacation(req_info)" class="acciones"></a>
              <a ng-if="req_info.status != 'Aprobado'" href="" ng-click="deniedVacation(req_info)" class="acciones negar"></a>
              <a ng-if="req_info.status == 'Espera'" href="" class="acciones borrar" ng-click="openModal($index,'elmodal')"></a>
            </div>
          </div>
        </div>
        <table class="vacations show-for-medium-up">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th class="desde">DESDE</th>
              <th>HASTA</th>
              <th class="dias">DIAS</th>
              <th>STATUS</th>
              <th class="aprobar">APROBAR</th>
              <th class="negar">NEGAR</th>
              <th class="borrar">BORRAR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req_info in only_not_user">
              <td>
                <h5>{{req_info.employee.short_name}} </h5>
                <div id="modal-{{$index}}" class="reveal-modal" data-reveal>
                  <p>{{req_info.more_text}}</p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
              </td>
              <td class="desde">
                <h2>{{ req_info.start_date | date:'d' }}</h2>
                <h6>{{ req_info.start_date | date:'MMMM' }}</h6>
              </td>
              <td>
                <h2>{{ req_info.end_date | date:'d' }}</h2>
                <h6>{{ req_info.end_date | date:'MMMM' }}</h6>
              </td>
              <td class="dias"><h2>{{req_info.dias}}</h2></td>
              <td><h6 class="bold" ><span class="{{req_info.status}}">{{req_info.status}}</span></h6></td>
              <td>
                <div ng-if="req_info.status != 'Aprobado'">
                  <a href="" ng-click="aproveVacation(req_info)" class="acciones"></a>
                </div>
              </td>
              <td>
                <div ng-if="req_info.status != 'Aprobado'">
                  <a href="" ng-click="deniedVacation(req_info)" class="acciones negar"></a>
                </div>
              </td>
              <td>
                <a ng-if="req_info.status == 'Espera'" href="" class="acciones borrar" ng-click="openModal($index,'elmodal')"></a>
                <div id="elmodal-{{$index}}" class="reveal-modal tiny" data-reveal>
                  <br />
                  <h4 class="text-center">¿Seguro quieres borrar esto?</h4>
                  <div class="text-center">
                    <a href="" ng-click="deleteVacationReq(req_info,$index)" class="button success">Borrar</a>
                  </div>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>	
</div>