<div class="padding-container firstone">
  
  <div ng-if="severances.length > 0">
    <h3 class="expand-title text-center">Aprobar solicitudes de anticipo de cesantias</h3>
    <br /><br />
    <div class="row">
      <div class="large-12 columns">
        <table class="vacations">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>MOTIVO</th>
              <th>MONTO</th>
              <th>ESTADO</th>
              <th class="aprobar">APROBAR</th>
              <th class="negar">NEGAR</th>              
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="severance in severances">
              <td>
                <h5 ng-bind="severance.employee.short_name"></h5>
              </td>
              <td>
                <span ng-bind="mot_severance( severance.subty )"> </span>
              </td>
              <td>
                <h5 class="greentxt" ng-bind="severance.monto_current"></h5>
              </td>
              <td><h6 class="bold" ><span>en espera</span></h6></td>
              <td><a href="" ng-click="approveSeverance(severance)" class="acciones"></a></td>
              <td><a href="" ng-click="deniedSeverance(severance)" class="acciones negar"></a></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
    <br /><br />
  </div>

  <div ng-if="vacations.length > 0" >
    <br /><br />
    <h3 class="expand-title text-center">Aprobar solicitudes de vacaciones</h3>    
    <div class="row">
      <div class="large-12 columns">        
        <table class="vacations show-for-medium-up">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th class="desde">DESDE</th>
              <th>HASTA</th>
              <th class="dias">DIAS</th>
              <th>ESTADO</th>
              <th class="aprobar">APROBAR</th>
              <th class="negar">NEGAR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req_info in vacations">
              <td ng-bind="req_info.employee.short_name">
                <!-- <h5>{{req_info.employee.short_name}} </h5> -->
                <!-- <div id="modal-{{$index}}" class="reveal-modal" data-reveal>
                  <p>{{req_info.more_text}}</p>
                  <a class="close-reveal-modal">&#215;</a>
                </div> -->
              </td>
              <td class="desde">
                <h2>{{ req_info.start_date | date:'d' }}</h2>
                <h6>{{ req_info.start_date | date:'MMMM' }}</h6>
              </td>
              <td>
                <h2>{{ req_info.end_date | date:'d' }}</h2>
                <h6>{{ req_info.end_date | date:'MMMM' }}</h6>
              </td>
              <td class="dias"><h2>{{req_info.dias}}</h2></td>
              <td><h6 class="bold" ><span>en espera</span></h6></td>
              <td>
                <div >
                  <a href="" ng-click="approveVacation(req_info)" class="acciones"></a>
                </div>
              </td>
              <td>
                <div>
                  <a href="" ng-click="deniedVacation(req_info)" class="acciones negar"></a>
                </div>
              </td>   
            </tr>
          </tbody>
        </table>
      </div>
    </div>			
  </div>	

  <div ng-if="compensatory_vacations.length > 0">
    <br /><br />
    <h3 class="expand-title text-center">Aprobar solicitudes de vacaciones compensadas</h3>
    <br /><br />
    <div class="row">
      <div class="large-12 columns">         
        <table class="vacations show-for-medium-up">
          <thead>
            <tr>   
              <th>NOMBRE</th>          
              <th class="dias">DIAS</th>
              <th class="tipo">TIPO</th>              
              <th>ESTADO</th>
              <th>IMAGEN</th>
              <th class="aprobar">APROBAR</th>
              <th class="negar">NEGAR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req_info in compensatory_vacations ">             
              <td ng-bind = "req_info.employee.short_name"></td>
              <td class="dias"><h2>{{req_info.at_date}}</h2></td>
              <td ng-bind="mot_compensatory_vacation(req_info.tipo)"></td>
              
              <td><h6 class="bold" ><span class="en espera">en espera</span></h6></td>
              <td><a href="" class="" ng-click="modalImage(req_info.attachment)">Ver</a></td>
              <td>
                <div >
                  <a href="" ng-click="approveCompensatoryVacation(req_info)" class="acciones"></a>
                </div>
              </td>
              <td>
                <div>
                  <a href="" ng-click="deniedCompensatoryVacation(req_info)" class="acciones negar"></a>
                </div>
              </td>   
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>

<!-- FALTA -->
  <div ng-if="licenses.length > 0" >
  <br /><br />
    <h3 class="expand-title text-center">Aprobar solicitudes de permisos</h3>
    <br /><br />
    <div class="row" >
      <div class="large-12 columns">         
        <table class="vacations show-for-medium-up">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th class="desde">DESDE</th>
              <th>HASTA</th>
              <th>MOTIVO</th>
              <th>IMAGEN</th>
              <th>ESTADO</th>
              <th class="aprobar">APROBAR</th>
              <th class="negar">NEGAR</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req_info in licenses">
              <td>
                <h5>{{req_info.employee.short_name}} </h5>
              </td>
              <td class="desde">
                <h2>{{ req_info.start_date | date:'d' }}</h2>
                <h6>{{ req_info.start_date | date:'MMMM' }}</h6>
              </td>
              <td>
                <h2>{{ req_info.end_date | date:'d' }}</h2>
                <h6>{{ req_info.end_date | date:'MMMM' }}</h6>
              </td>     
              <td><h6>{{mot_license(req_info.motivo)}}</h6></td>       
              <td><a href="" class="" ng-click="modalImage(req_info.attachment)"  >Ver</a></td>
              <td><h6 class="bold" ><span>en espera</span></h6></td>
              <td>
                <div ng-if="req_info.status != 'Aprobado'">
                  <a href="" ng-click="approveLicense(req_info)" class="acciones"></a>
                </div>
              </td>
              <td>
                <div ng-if="req_info.status != 'Aprobado'">
                  <a href="" ng-click="deniedLicense(req_info)" class="acciones negar"></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table> 
      </div>
  </div>

  <div id="image-modal" class="reveal-modal" data-reveal aria-labelledby="Imagen" aria-hidden="true" role="dialog">
    <img ng-if="urlImage" ng-src="{{urlImage}}" width="100%" height="1100px" />       
    <p ng-hide="urlImage">No existe imagen</p> 
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

</div>