<ul class="finder" ng-class="flavor_class">
	<li class="search">
		<div class="row collapse prefix-radius">
			<div class="small-2 columns">
				<span class="prefix">
					<span class="icon-search"></span>
				</span>
			</div>
			<div class="small-10 columns">
				<input itoapprovedd="buscador" name="search" placeholder="Buscar empleados" type="search" ng-model="searchText">
			</div>
		</div>
	</li>toapproved
	<li class="results" ng-repeat="employee in employees" ng-init="activado = favorite( employee = ( employee.employee ? employee.employee: employee ) );">
		<div class="pic">
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id})"> 
				<img ng-src="{{employee.image}}">
			</a>
		</div>
		<h6 class="name no-margin capitalize">	
			<a ng-click="favorites($event, employee);update_favorite(employee);activado = !activado" class="favorite">
				<span ng-class="activado ? 'fa fa-star' : 'fa fa-star-o'"></span>
			</a> 
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id })" class="capitalize">
				{{employee.name | lowercase}} {{employee.lastname | lowercase}}
			</a>
		</h6>
		<h6 class="no-margin subheader cargo capitalize">{{employee.posicion | lowercase}}</h6>
		<div class="action-buttons">
			<a ng-if="employee.phone" href="tel://{{employee.phone}}">
				<i class="fa fa-phone fa-lg"></i>
			</a>
			<br>
			<a ng-if="employee.email" class="lowercase" href="mailto:{{employee.email}}">
				<i class="fa fa-envelope-o fa-lg"></i>
			</a>
		</div>
	</li>
</ul>