<ul class="finder" ng-class="flavor_class">
	<li class="search">
		<div class="row collapse prefix-radius">
			<div class="small-2 columns">
				<span class="prefix">
					<span class="icon-search"></span>
				</span>
			</div>
			<div class="small-10 columns">
				<input itoapprovedd="buscador" name="search" placeholder="Buscar empleados" type="search" ng-model="searchText">
			</div>
		</div>
	</li>
	
	<li class="results" ng-repeat="employee in empFavorites" 
	ng-init="activado = favorite( employee = employee.employee ? employee.employee: employee );">	
		<div class="pic" >
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id})" ng-if="showMasterData(user.employee)" > 
				<img ng-src="{{employee.image.url}}">
			</a>
			<div ng-if="!showMasterData(user.employee)"> 
				<img ng-src="{{employee.image.url}}">
			</div>
		</div>
		<h6 class="name no-margin capitalize">
			<div ng-click="updateContact($event, employee);activado = !activado;" class="favorite">
				<span ng-class="activado ? 'fa fa-star' : 'fa fa-star-o'"></span>
			</div>
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id})" class="capitalize" ng-if="showMasterData(user.employee)" >
				{{employee.name | lowercase}} {{employee.lastname | lowercase}}
			</a>
			<div class="contact-name" ng-if="!showMasterData(user.employee)" ng-click="showModal(employee)">
				{{employee.name | lowercase}} {{employee.lastname | lowercase}}
			</div>
		</h6>
		<h6 class="no-margin subheader cargo capitalize contact-name" title="{{employee.posicion | lowercase}}" ng-click="showModal(employee)">{{employee.posicion  | autoAdjusts}}</h6>
			<div class="action-buttons">
				<div ng-if="!isRcnTv()">
					<a ng-if="employee.phone" href="tel://{{employee.phone}}" data-tooltip aria-haspopup="true" title="{{employee.phone}}">
						<i class="fa fa-phone fa-lg"></i>
					</a>
					<br>
					<a ng-if="employee.email" class="lowercase" href="mailto:{{employee.email | lowercase}}" data-tooltip aria-haspopup="true" title="{{employee.email | lowercase}}">
						<i class="fa fa-envelope-o fa-lg"></i>
					</a>
				</div>
			</div>
	</li>
	<li class="results" ng-repeat="(key, employee) in employees" 
	ng-init="activado = favorite( employee = ( employee.employee ? employee.employee: employee ) ); "
	ng-hide="activado ? true : false"
	>	
		<div class="pic" >
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id})" ng-if="showMasterData(user.employee)" > 
				<img ng-src="{{employee.image.image.url}}">
			</a>
			<div ng-if="!showMasterData(user.employee)"> 
				<div ng-if="isSearchEmployee()">
					<img ng-src="{{employee.image.url}}">	
				</div>
				<div ng-if="!isSearchEmployee()">
					<img ng-src="{{employee.image.image.url}}">
				</div>
			</div>
		</div>
		<h6 class="name no-margin capitalize">
			<div ng-click="updateContact($event, employee);activado = !activado;" class="favorite">
				<span ng-class="activado ? 'fa fa-star' : 'fa fa-star-o'"></span>
			</div>
			<a ui-sref="main.views.employee_info_lookup({id:employee.identification, c:employee.company.id})" class="capitalize" ng-if="showMasterData(user.employee)" >
				{{employee.name | lowercase}} {{employee.lastname | lowercase}}
			</a>
			<div class="contact-name" ng-if="!showMasterData(user.employee)" ng-click="showModal(employee)">
				{{employee.name | lowercase}} {{employee.lastname | lowercase}}
			</div>
		</h6>
		<h6 class="no-margin subheader cargo capitalize  contact-name" title="{{employee.posicion | lowercase}}" ng-click="showModal(employee)">{{employee.posicion  | autoAdjusts}}</h6>
		<div class="action-buttons">
			<div ng-if="!isRcnTv()">
				<a ng-if="employee.phone" href="tel://{{employee.phone}}" data-tooltip aria-haspopup="true" title="{{employee.phone}}">
					<i class="fa fa-phone fa-lg"></i>
				</a>
				<br>
				<a ng-if="employee.email" class="lowercase" href="mailto:{{employee.email | lowercase}}" data-tooltip aria-haspopup="true" title="{{employee.email | lowercase}}">
					<i class="fa fa-envelope-o fa-lg"></i>
				</a>
			</div>
		</div>
	</li>
	<div id="employeeDataModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="false" role="dialog">
		<div class="row">
			<div class="small-4 large-2 columns left">
				<div ng-if="employeeData.image.image.url">
					<img ng-src="{{employeeData.image.image.url}}" alt="employee image">
				</div>
				<div ng-if="employeeData.image.url">
					<img ng-src="{{employeeData.image.url}}" alt="employee image">
				</div>
			</div>
			<div class="small-8 large-8 columns left">
				<div class="row">
					<div class="small-12 large-12 columns left">
						<div id="modalTitle" class="employee-full-name" ng-bind="employeeFullName(employeeData)">
						</div>
					</div>
					<div class="small-12 large-12 columns left employee-position">
						{{employeeData.posicion}}
					</div>
				</div>
			</div>
		</div>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</ul>