<div class="padding-container">
	<h3 class="expand-title text-center first-one">Prestamos</h3>
	
	<div class="row">
		<fieldset>
			<legend>Filtros</legend>
			<div class="large-2 medium-2 columns">
				<label for="date_filter" class="inline">Periodo Nomina:</label>
			</div>
			<div class="large-2 medium-2 columns">
				<select id="date_filter" ng-model="date_filter.$">
					<option value="">Todos</option>
					<option ng-repeat="date in payroll_dates | orderBy:date">{{ date }}</option>
				</select>
			</div>
			
			<div class="large-2 medium-2 columns">
				<label for="payroll_filter" class="inline">Descripción:</label>
			</div>
			<div class="large-4 medium-4 columns left">
				<select id="payroll_filter" ng-model="payroll_concept_filter">
					<option value="">Todos</option>
					<option ng-repeat="concept in payroll_concepts">{{ concept }}</option>
				</select>
			</div>
		</fieldset>
	</div>
	
	<div class="row">
		<div class="large-12 medium-12 columns">
			<table>
			  <caption>Prestamos</caption>
			  <thead>
				  <tr>
				  	<th scope="column" class="text-center">Periodo de Nomina</th>
				  	<th scope="column" class="text-center">Descripción</th>
				  	<th scope="column" class="text-center">Cuota Total</th>
				    <th scope="column" class="text-center">Interes</th>
				    <th scope="column" class="text-center">Interes Debe</th>
				    <th scope="column" class="text-center">Saldo Total</th>
				  </tr>	
			  </thead>
		  	<tbody ng-repeat="date in payroll_dates | filter : date_filter | orderBy:date">
		  		<tr id="tr_payroll_period">
		  			<td id="td_payroll_period" rowspan="{{ user.loan_records.length | filter : {fpper: date} }}">{{ date }}</td>
		  		</tr>
	  			<tr ng-repeat="(key, loan) in user.loan_records | filter : {fpend: date, stext: payroll_concept_filter}"> 
	  				<td scope="row" ng-bind="loan.stext"></td>
	  				<td scope="row" ng-bind="getMoneyValue(loan.totcu)"></td>
	  				<td scope="row" ng-bind="getPorcentage(loan.lolim)"></td>
				    <td scope="row" ng-bind="getPorcentage(loan.zsoll)"></td>
				    <td scope="row" ng-bind="getMoneyValue(loan.totsa)"></td>
	  			</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>