<div class="padding-container">
	<h3 class="expand-title text-center first-one">Prestamos</h3>
	
	<div ng-hide="existsLoanRecords()">
		<message-report titulo="titleReport" other="titleReport2"></message-report>
	</div>

	<div ng-show="existsLoanRecords()">
		<div class="row">
			<div class="large-12 medium-12 columns">
				<table>
				  <thead>
					  <tr>
					  	<th id="th_pern" scope="column" class="text-center">
				      	<div class="header" id="origin" ng-click="sortTables.sortingTable('origin')">Periodo</div>
					  	</th>
					  	<th scope="column" class="text-center" >
				      	<div class="header" id="stext" ng-click="sortTables.sortingTable('stext')">Descripción</div>
				  		</th>
				  		<th scope="column" class="text-center">Cuota total</th>
					    <th scope="column" class="text-center">Interes</th>
					    <th scope="column" class="text-center">Interes debe</th>
					    <th scope="column" class="text-center">Saldo total</th>
					  </tr>
					  <tr>
					  	<th scope="column">
					  		<input type="text" class="input-filter" ng-model="period_filter" placeholder="Filtro">
					  	</th>
					  	<th scope="column">
					  		<input type="text" class="input-filter" ng-model="concept_txt_filter" placeholder="Filtro">
				  		</th>
				  		<th scope="column"></th>
					    <th scope="column"></th>
					    <th scope="column"></th>
					    <th scope="column"></th>
					  </tr>
				  </thead>
				  <tbody ng-repeat="date in payroll_dates | filter : period_filter | orderBy:sortTables.getPredicate():sortTables.getReverses()">
			  		<tr id="tr_payroll_period">
			  			<td id="td_payroll_period" rowspan="{{ dateFilter(date.origin) }}">{{ date.value }}</td>
			  		</tr>
		  			<tr ng-repeat="(key, loan) in loanRecords | filter : {fpend: date.origin, stext: concept_txt_filter} | orderBy:sortTables.getPredicate():sortTables.getReverses()"> 
		  				<td scope="row" ng-bind="loan.stext"></td>
		  				<td scope="row" class="text-right" ng-bind="getMoneyValue(loan.totcu)"></td>
		  				<td scope="row" class="text-right" ng-bind="getPorcentage(loan.lolim)"></td>
					    <td scope="row" class="text-right" ng-bind="getPorcentage(loan.zsoll)"></td>
					    <td scope="row" class="text-right" ng-bind="getMoneyValue(loan.totsa)"></td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>