<div class="padding-container">
	<div>
		<h3 class="expand-title text-center first-one">Empresa</h3>
			<form id="company" ng-submit="submitCompany()">
				<div class="box" style="padding:0 10px;">
					<div class="row">
						
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator1"><b>Salario</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>15.000.000</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>17.521.848</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator2"><b>Carga prestacional</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>3.152.310</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>2.521.848</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator2">Factor Prestacional</h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>30,02 %</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>30,02 %</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator3">Seguridad Social</h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>20,50 %</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>20,50 %</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator4">ARL</h6>
						</div>
						<div class="small-4 columns">
							<input type="text" class="textboxcompany" value="0,522%">
						</div>
						<div class="small-4 columns">
							<input type="text" class="textboxcompany" value="0,522%">
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator3">Prestaciones sociales</h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>0,00 %</b></h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right"><b>0,00 %</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator3">Parafiscales</h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right">9,00 %</h6>
						</div>
						<div class="small-4 columns">
							<h6 align="right">9,00 %</h6>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<h6 class="tabulator1"><b>Valor Sodexo</b></h6>
						</div>
						<div class="small-4 columns right">
							<h6 align="right"><b>3.000.000</b></h6>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
				  		<div class="large-6 columns right">
				  			<button type="submit" class="button small right next">Guardar</button>
				  		</div>
						</div>
					</div>
					<!-- Mensaje Success Form-->
					<div class="row" ng-show="flagSubmitCompany">
						<div class="large-12 columns">
							<div data-alert class="alert-box success radius">
							  Se ha guardado con éxito.
							  <a href="#" class="close">&times;</a>
							</div>
						</div>
					</div>
				</div>
			</form>
	</div>
</div>