<!--ng-class="ubicacion != 'main.views.dashboard' ? 'whitening' : ''"-->
<div class="bottomize whitening" ng-switch="ubicacion">
	<div class="row"  ng-switch-default>
		<div class="large-7 medium-7 columns">
			<div class="big-profile">
				<img ng-src="{{user.pic ? user.pic : user.employee.image}}">
			</div>
            <!--dash-text-format-->
			<div class=" p-20 ">
				<h4 class="no-margin whitetxt capitalize card">
					<a ui-sref="main.views.employee_info">
						{{user.employee.short_name}}
					</a>
				</h4>
				<h5 class="subheader no-margin capitalize card">
					{{user.employee.posicion}}
				</h5>
				<h5 class="subheader no-margin capitalize hide-for-small-only card">
					{{user.employee.unidad_org}}
				</h5>
			</div>
		</div>
		<div class="large-5 medium-5 columns">
			<br>
			<h4 class="subheader no-margin">
				{{user.employee.area}}
			</h4>
			<h5 class="subheader no-margin">
				{{user.employee.division_per}}
			</h5>
			<h5 class="subheader no-margin">
				{{user.employee.subdivision_per}}
			</h5>
			<a href="tel://{{user.employee.phone}}">
				<i class="fa fa-phone fa-lg"></i>
			</a>
			&nbsp;
			<a class="lowercase" href="mailto:{{user.employee.email}}">
				<i class="fa fa-envelope-o fa-lg"></i>
			</a>
		</div>
	</div>
	<div class="row"  ng-switch-when="main.views.employee_info_lookup">
		<div class="large-7 medium-7 columns">
			<div class="big-profile">
				<img ng-src="{{employee.image}}">
			</div>
			<div class="dash-text-format p-20">
				<h4 class="no-margin capitalize">
					{{employee.short_name | lowercase }}
				</h4>
				<h5 class="subheader no-margin capitalize">
					{{employee.posicion | lowercase}}
				</h5>
				<h5 class="subheader no-margin capitalize hide-for-small-only">
					{{employee.unidad_org | lowercase}}
				</h5>
			</div>
		</div>
		<div class="large-5 medium-5 columns">
			<br>
			<h4 class="subheader no-margin capitalize">
				{{employee.area | lowercase}}
			</h4>
			<h5 class="subheader no-margin capitalize">
				{{employee.division_per | lowercase}}
			</h5>
			<h5 class="subheader no-margin capitalize">
				{{employee.subdivision_per | lowercase}}
			</h5>
			<a href="tel://{{employee.phone}}">
				<i class="fa fa-phone fa-lg"></i>
			</a>
			&nbsp;
			<a class="lowercase" href="mailto:{{employee.email}}">
				<i class="fa fa-envelope-o fa-lg"></i>
			</a>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.vacations" ng-init="cargarAprobador(user.employee.vaca_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader" >Solicitudes de vacaciones</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Solicitudes</a>
				</li>
				<li class="current"><a href="">Solicitud de vacaciones</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img  ng-src="{{aprobador.image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.severance" ng-init="cargarAprobador(user.employee.cesa_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader" >Solicitudes de cesantias</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Solicitudes</a>
				</li>
				<li class="current"><a href="">Solicitudes de cesantias</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img  ng-src="{{aprobador[0].image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.inhabilities" ng-init="cargarAprobador(user.employee.inca_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader" >Registro de incapacidades</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Registro</a>
				</li>
				<li class="current"><a href="">Registro de incapacidades</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img  ng-src="{{aprobador.image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalze"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.extras" ng-init="cargarAprobador(user.employee.hoex_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader">Registro de horas extras</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Registro</a>
				</li>
				<li class="current"><a href="">Registro de horas extras</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img  ng-src="{{aprobador.image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.loans" ng-init="cargarAprobador(user.employee.pres_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader" >Solicitudes de prestamos</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Solicitudes</a>
				</li>
				<li class="current"><a href="">Solicitudes de prestamos</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img ng-src="{{aprobador.image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.licenses" ng-init="cargarAprobador(user.employee.perm_approver)">
		<div class="large-5 medium-5 columns">
			<h4 class="subheader" >Solicitudes de permisos</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="">Solicitudes</a>
				</li>
				<li class="current"><a href="">Solicitudes de permisos</a></li>
			</ul>
		</div>
		<div class="large-7 medium-7 columns">
			<div class="pt-10">
				<div class="row" ng-if="aprobador">
					<div class="large-3 columns">
						<h6 class="subheader text-center show-for-large-up"> <span class="fa fa-check-circle fa-2x"></span> Aprobador:</h6>
					</div>
					<div class="large-9 columns">
						<div class="aprobador">
							<div class="pic dib">
								<img  ng-src="{{aprobador.image}}">
							</div>
							<div class="info dib">
								<a href="mail_to:{{aprobador.email}}" class="capitalize"><i class="fa fa-envelope fa-lg"></i>{{aprobador.short_name | cut:30}}</a><br>
								<a href="tel://{{aprobador.phone}}" class=""><i class="fa fa-phone fa-lg"></i>{{aprobador.phone}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.certificates_labor">
		<div class="large-7 medium-7 columns">
			<h4 class="subheader" >{{locationData.breadcrumb}}</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="#">Autoservicios</a>
				</li>
				<li class="current">
					<a href="#">{{locationData.breadcrumb}}</a>
				</li>
			</ul>
		</div>
		<div class="large-5 medium-5 columns">
			<ul class="inline-list linemenu">
				<li>
					<a ui-sref="main.views.certificates_labor({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-file-text-o fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_vacations({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-plane fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_payroll({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-briefcase fa-lg"></i>
					</a>
				</li>
				<li>
					<a  ui-sref="main.views.certificates_income({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-institution fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.certificates_vacations">
		<div class="large-7 medium-7 columns">
			<h4 class="subheader">{{locationData.breadcrumb}}</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="#">Autoservicios</a>
				</li>
				<li class="current">
					<a href="#">{{locationData.breadcrumb}}</a>
				</li>
			</ul>
		</div>
		<div class="large-5 medium-5 columns">
			<ul class="inline-list linemenu">
				<li>
					<a ui-sref="main.views.certificates_labor({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-file-text-o fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_vacations({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-plane fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_payroll({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-briefcase fa-lg"></i>
					</a>
				</li>
				<li>
					<a  ui-sref="main.views.certificates_income({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-institution fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.certificates_payroll">
		<div class="large-7 medium-7 columns">
			<h4 class="subheader">{{locationData.breadcrumb}}</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="#">Autoservicios</a>
				</li>
				<li class="current">
					<a href="#">{{locationData.breadcrumb}}</a>
				</li>
			</ul>
		</div>
		<div class="large-5 medium-5 columns">
			<ul class="inline-list linemenu">
				<li>
					<a ui-sref="main.views.certificates_labor({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-file-text-o fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_vacations({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-plane fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_payroll({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-briefcase fa-lg"></i>
					</a>
				</li>
				<li>
					<a  ui-sref="main.views.certificates_income({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-institution fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-switch-when="main.views.certificates_income">
		<div class="large-7 medium-7 columns">
			<h4 class="subheader">{{locationData.breadcrumb}}</h4>
			<ul class="breadcrumbs">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="unavailable">
					<a href="#">Autoservicios</a>
				</li>
				<li class="current">
					<a href="#">{{locationData.breadcrumb}}</a>
				</li>
			</ul>
		</div>
		<div class="large-5 medium-5 columns">
			<ul class="inline-list linemenu">
				<li>
					<a ui-sref="main.views.certificates_labor({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-file-text-o fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_vacations({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-plane fa-lg"></i>
					</a>
				</li>
				<li>
					<a ui-sref="main.views.certificates_payroll({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-briefcase fa-lg"></i>
					</a>
				</li>
				<li>
					<a  ui-sref="main.views.certificates_income({id:user.employee.identification, c:user.company_id})">
						<i class="fa fa-institution fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="close-banner invert"><a href="" ng-click="xtoggle($event)"></a></div>
