<div class="padding-container">
	<div class="row collpase" style="max-width:61.9rem;">
		<div class="large-12 columns">
			<ul ng-model="common.widgets" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="javascript:void(0)" title="{{ common.widgets[0].name }}">
								<div class="text-complete">
									{{ common.widgets[0].name }}
									<i class="fa fa-angle-right" style=""></i>
								</div>
							</a>

							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Días que a la liquidación de la última nómina tiene disponibles por este concepto.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido" id="vacations-chart">
							<div class="panel-chart-value panel">
								<h3 class="museo text-center">
									Días por Disfrutar
								</h3>
								<div class="row">
									<div class="small-5 small-centered large-centered columns">
										<span class="fa fa-calendar-o fa-1">
											<div class="value-icon">{{getDayVacations(vacationdays[1])}}</div>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[1].name }}">
								<div class="text-complete">
									{{ common.widgets[1].name }}
									<i class="fa fa-angle-right" style=""></i>
								</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Valor que a la liquidación de la última nómina tiene causados en la compañía. Este valor será consignado al Fondo de Cesantías antes del 14 de Febrero de cada año.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>

						<div class="contenido">
							<div ng-hide="showChartSeverance()">
								<div class="panel panel-chart-value">
									<h3 class="museo text-center">
										Saldo actual
									</h3>
								  <strong class="futura text-center">
										<h4 id="cesantias_value">
											$<b>{{elsaldocesantias | currency:"":0}}</b>
										</h4>
									</strong>
								  <h3 class="greentxt museo text-center">
										<small class="blacktxt">Pesos Colombianos (COP)</small>
									</h3>	
								</div>
							</div>
							<div ng-show="showChartSeverance()">
								<div class="left">
									<div cesantias fpend='{{fpend}}' newbetrg="{{newbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
								</div>
								<div class="number-info">                 
									<label class="no-margin">Saldo actual:</label>
									<h3 class="no-margin bluetxt futura">{{elsaldocesantias | currency:"$":0}}</h3>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
									{{ common.widgets[2].name }}
									<i class="fa fa-angle-right" style=""></i>
								</div>
							</a>

							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Valor de los intereses a las cesantías causados a 31 de Diciembre de cada año.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div ng-hide="showChartSeveranceInterest()">
								<div class="panel panel-chart-value">
									<h3 class="museo text-center">
										Saldo actual
									</h3>
								  <strong class="futura text-center">
										<h4 id="intereses_cesantias_value">
											$<b>{{intcesantias | currency:"":0}}</b>
										</h4>
									</strong>
								  <h3 class="greentxt museo text-center">
										<small class="blacktxt">Pesos Colombianos (COP)</small>
									</h3>	
								</div>
							</div>
							<div ng-show="showChartSeveranceInterest()">
								<div class="left">
									<div intcesantias intfpend='{{intfpend}}' intnewbetrg="{{intnewbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
								</div>
								<div class="number-info">
									<label class="no-margin">Saldo actual:</label>
									<h3 class="no-margin greentxt futura"> {{intcesantias | currency:"$":0}} </h3>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 dashboardlis hide-for-small-only">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
								Mis ingresos y deducciones
								<i class="fa fa-angle-right" style=""></i>
								</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Los ingresos hacen referencia a la remuneración económica que recibe el empleado. Las Deducciones son los descuentos que le realiza la empresa al empleado por concepto de aporte a seguridad social, préstamos, entre otros.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">						
							<div class="row">
								<div class="large-7 medium-7 columns">
									<br />
									<div endeudamiento fechasdeudas='{{fechasdeudas}}' ingresos="{{ingresos}}" deducciones="{{deducciones}}"></div>
								</div>
								<div class="large-5 medium-5 columns">
									<!--
									<div class="large-6 medium-6 columns">
										<canvas id="doughnut_indebtedness" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-colours="chartColors" width="187" height="187"></canvas>
									</div>
									<div class="large-6 medium-12 columns">
										<div class="text-left">
											<h4 class="greentxt museo">
												<small class="blacktxt">Nivel o Capacidad de Endeudamiento:</small>
											</h4>	
										</div>
									</div>
									<div class="large-6 medium-12 columns">
										<div class="text-left">
											<a href="#" data-tooltip aria-haspopup="true" title="Nivel o Capacidad de Endeudamiento">
												<strong>
												<h4 class="orangetxt futura">
													{{porcentaje}} %	
												</h4>
												</strong>
											</a>
										</div>		
									</div>
									-->
									<div class="large-12 medium-12 columns">
										<div class="panel orangetxt">
										  <strong class="futura text-center">
												<h4 class="orangetxt" id="indebtedness_level_porcentage">
													{{porcentaje}} %	
												</h4>
											</strong>
										  <h4 class="greentxt museo text-center">
												<small class="blacktxt">Nivel 
												de Endeudamiento</small>
											</h4>	
										</div>
									</div>
									<!--
									<canvas classy="{{porcentaje}}" class="loader animation-canvas" width="150" height="150"></canvas>
									-->
									<div class="large-12 medium-12 columns">
										<div class="large-6 medium-12 columns">
											<div class="text-left">
												<h4 class="greentxt museo">
													<small class="blacktxt">Total ingresos:</small>
												</h4>	
											</div>
										</div>
										<div class="large-6 medium-12 columns">
											<div class="text-left">
												<h4 class="greentxt museo">
													{{saldos.totdevengos | currency:"$":0}}
												</h4>
											</div>
										</div>

										<div class="large-6 medium-12 columns">
											<div class="text-left">
												<h4 class="greentxt museo">
													<small class="blacktxt">Total deducciones:</small>
												</h4>	
											</div>
										</div>
										<div class="large-6 medium-12 columns">
											<div class="text-left">
												<h4 class="greentxt museo">
													{{saldos.totdeducciones | currency:"$":0}}
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li ng-show="showBirthdayEmployees()">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
								{{ common.workers[0].name }}
								<i class="fa fa-angle-right" style=""></i>
								</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Empleados que cumplen años en último mes.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in employee_by_cumpleano_mes">
									<div class="foto">
										<a ui-sref="#" ng-click="showModal(empleado)">
											<img alt="profile" ng-src="{{empleado.image.url}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ng-show="showMasterData(empleado)" ui-sref="#" ng-click="showModal(empleado)" class="capitalize" >
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</a>
										<div ng-hide="showMasterData(empleado)" class="contact-name" ng-click="showModal(empleado)">
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</div>
									</h6>
									<h6 class="subheader no-margin">{{empleado.posicion | special_capitalize }}</h6>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_nac | date:"d 'de' MMMM"}}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
				<li ng-show="showAniversaryEmployees()">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="">
								<div class="text-complete">
									{{ common.workers[1].name }} <i class="fa fa-angle-right"></i> 
								</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Fecha en la cual los empleados cumplen año(s) de ingreso a la compañía.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">

							<ul class="employees">
								<li ng-repeat="empleado in employee_by_fecha_de_ingreso">
									<div class="foto">
										<a ui-sref="#" ng-click="showModal(empleado)">
											<img alt="profile" ng-src="{{empleado.image.url}}">
										</a>
									</div>
									<h6 class="no-margin">
										<a ng-show="showMasterData(empleado)" ui-sref="#" ng-click="showModal(empleado)" class="capitalize" >
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</a>
										<div ng-hide="showMasterData(empleado)" class="contact-name" ng-click="showModal(empleado)">
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</div>
									</h6>
									<div class="text-right">
										<span class="graytxt">
											<span class="label radius success">{{aniversario(empleado.fecha_ingreso)}} Años</span>
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_ingreso | date:"d 'de' MMMM"}}</span>
										</span>
									</div>									
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>

				<li ng-show="showNewEmployees()">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#">
								<div class="text-complete">
									{{ common.workers[2].name }} <i class="fa fa-angle-right"></i> 
								</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Empleados nuevos en el mes actual">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in new_employees">
									<div class="foto">
										<a ui-sref="#" ng-click="showModal(empleado)">
											<img alt="profile" ng-src="{{empleado.image.url}}">
										</a>
									</div>
									<h6 class="no-margin">
										<a ng-show="showMasterData(empleado)" ui-sref="#" ng-click="showModal(empleado)" class="capitalize" >
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</a>
										<div ng-hide="showMasterData(empleado)" class="contact-name" ng-click="showModal(empleado)">
											{{empleado.name | special_capitalize:'own'}} {{empleado.lastname | special_capitalize:'own'}}
										</div>
									</h6>
									<h6 class="subheader no-margin">{{empleado.posicion | special_capitalize }}</h6>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_ingreso | date:"d 'de' MMMM"}}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>

				<li ng-show="showArticles()">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a ui-sref="main.views.articles()">
							<div class="text-complete">
								Publicaciones recientes <i class="fa fa-angle-right"></i> 
							</div>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Artículos de interés publicados por los directivos de la empresa.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees publicaciones">
								<li ng-repeat="articulos in articles_not_mine.articles | orderBy: 'created_at' : true | limitTo: 10">
									<a ui-sref="main.views.articleDetail({id:articulos.id})" ng-class="articulos.category">{{articulos.titulo}}</a>
									<p class="smalltxt no-margin">
										{{articulos.ini | limitTo:100}}
									</p>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-user"></i>
											<span class="small capitalize">{{articulos.employee.short_name | cut:20 }}</span>
										</span>
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{articulos.created_at | date:"d 'de' MMMM" }}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
			</ul>
			<div id="employeeDataDashboardModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="false" role="dialog">
				<div ng-include="modalDataEmployee"></div>
			</div>
		</div>
	</div>
</div>