<div class="padding-container">
	<div class="row collpase" style="max-width:61.9rem;">
		<div class="large-12 columns">
			<ul ng-model="common.widgets" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#">{{ common.widgets[0].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Días que a la liquidación de la última nómina tiene disponibles por este concepto.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido" id="vacations-chart">
							<br />
							<h4 class="restantes">{{vacationdays[1]}}<span>Restantes</span></h4>
							<canvas id="doughnut" class="chart chart-doughnut" data="vacationdays" labels="labels"></canvas>
							<h4 class="usados">{{vacationdays[0]}}<span>Usados</span></h4>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#">{{ common.widgets[1].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="El Valor de los intereses a las cesantias que a la liquidación de la última nómina tiene causados dentro de la compañía">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div class="left">
								<div cesantias fpend='{{fpend}}' newbetrg="{{newbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
							</div>
							<div class="number-info">
								<label class="no-margin">Saldo actual:</label>
								<h3 class="no-margin bluetxt futura">{{elsaldocesantias | currency:"$":0}}</h3>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#"><span id="intid">{{ common.widgets[2].name }}</span> <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="El valor que a la liquidación de la última nómina tiene causado dentro de la compañía y el cual  se transferirá al fondo de Cesantias con que se  cuente al  finalizar el periodo.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div class="left">
								<div intcesantias intfpend='{{intfpend}}' intnewbetrg="{{intnewbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
							</div>
							<div class="number-info">
								<label class="no-margin">Saldo actual:</label>
								<h3 class="no-margin greentxt futura"> {{intcesantias | currency:"$":0}} </h3>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 dashboardlis hide-for-small-only">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#">Mis ingresos y deducciones <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Cantidad de deudas e ingresos">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div class="row">
								<div class="large-8 medium-8 columns">
									<br />
									<div endeudamiento fechasdeudas='{{fechasdeudas}}' ingresos="{{ingresos}}" deducciones="{{deducciones}}"></div>
								</div>
								<div class="large-4 medium-4 columns">
									<canvas classy="{{porcentaje}}" class="loader animation-canvas" width="150" height="150"></canvas>
									<div class="text-left">
										<h4 class="greentxt futura"><small class="blacktxt">Total ingresos:</small>{{saldos.totdevengos | currency:"$":0}}</h4>
										<h4 class="redtxt futura"><small class="blacktxt">Total deducciones:</small>{{saldos.totdeducciones | currency:"$":0}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li>
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#">{{ common.workers[0].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Cumpleaños de este mes de mi unidad organizativa.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in employees | filter:birthShow">
									<div class="foto">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">
											<img alt="profile" ng-src="{{empleado.image}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">{{empleado.short_name | lowercase}}</a>
									</h6>
									<h6 class="subheader no-margin capitalize">{{empleado.posicion | lowercase}}</h6>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_nac | date:"d 'de' MMMM"}}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
				<li>
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#">{{ common.workers[1].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Aniversario de ingreso de mi unidad organizativa">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in employees | filter:laborShow">
									<div class="foto">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">
											<img alt="profile" ng-src="{{empleado.image}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">{{empleado.short_name | lowercase}}</a>
									</h6>
									<h6 class="subheader no-margin capitalize">{{empleado.posicion | lowercase}}</h6>
									<div class="text-right">
										<span class="graytxt">
											<span class="label radius success">{{aniversario(empleado.fecha_ingreso)}} Años</span>
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_ingreso | date:"d 'de' MMMM"}}</span>
										</span>
									</div>									
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
				<li>
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a ui-sref="main.views.articles()">Publicaciones recientes <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="publicaciones">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<div class="cuantos">
									<h3><span class="icon-comment"></span>{{articles_not_mine.length}}</h3>
								</div>
								<li ng-repeat="articulos in articles_not_mine | orderBy: '-ini' | limitTo: 10">
									<a ui-sref="main.views.articleDetail({id:articulos.id})">{{articulos.titulo}}</a>
									<p class="smalltxt no-margin">
										{{articulos.ini | limitTo:100}}
									</p>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{articulos.created_at | date:"d 'de' MMMM" }}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>