<div class="padding-container">
	<div class="row collpase" style="max-width:61.9rem;">
		<div class="large-12 columns">
			<ul ng-model="common.widgets" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="javascript:void(0)" title="{{ common.widgets[0].name }}">
								<div class="text-complete">
								{{ common.widgets[0].name }}
								</div>
								<div class="text-cut">
								{{ common.widgets[0].name | limitTo : 15 }}	...
								</div>
								<i class="fa fa-angle-right" style=""></i>
							</a>

							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Días que a la liquidación de la ultima nomina tiene disponibles y usados por este concepto.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>

						</h5>
						<div class="contenido" id="vacations-chart">
							<br />
							<h4 class="restantes">{{vacationdays[1]}}<span>Restantes</span></h4>
							<canvas id="doughnut" class="chart chart-doughnut" chart-data="vacationdays" chart-labels="labels" chart-colours="colours"></canvas>
							<h4 class="usados">{{vacationdays[0]}}<span>Usados</span></h4>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[1].name }}">
								<div class="text-complete">
								{{ common.widgets[1].name }}
								</div>
								<div class="text-cut">
								{{ common.widgets[1].name | limitTo : 15 }}	...
								</div>
								<i class="fa fa-angle-right" style=""></i>
							</a>

							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Valor que a la liquidación de la ultima nomina tiene causados en la compañía. Este valor sera consignado al Fondo de Cesantias antes del 14 de Febrero de cada año.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div class="left">
								<div cesantias fpend='{{fpend}}' newbetrg="{{newbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
							</div>
							<div class="number-info">
                                
								<label class="no-margin">Saldo actual:</label>
								<h3 class="no-margin bluetxt futura">{{elsaldocesantias | currency:"$":0}}</h3>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
								{{ common.widgets[2].name }}
								</div>
								<div class="text-cut">
								{{ common.widgets[2].name | limitTo : 15 }}	...
								</div>
								<i class="fa fa-angle-right" style=""></i>
							</a>

							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Valor de los intereses a las cesantias causados a 31 de Diceimbre de cada año.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<div class="left">
								<div intcesantias intfpend='{{intfpend}}' intnewbetrg="{{intnewbetrg}}" style="height: 180px; width: 140px; overflow:hidden;"></div>
							</div>
							<div class="number-info">
								<label class="no-margin">Saldo actual:</label>
								<h3 class="no-margin greentxt futura"> {{intcesantias | currency:"$":0}} </h3>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 dashboardlis hide-for-small-only">
				<li>
					<div class="widgets">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
								Mis ingresos y deducciones
								</div>
								<div class="text-cut">
								{{ 'Mis ingresos y deducciones' | limitTo : 15 }}	...
								</div>
								<i class="fa fa-angle-right" style=""></i>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Los ingresos hacen referecia a la remuneracion economica que recibe el empleado. Las Deducciones son los descuentos que le realiza la empresa al empleado por concepto de aporte a seguridad social, préstamos, entre otros.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">						
							<div class="row">
								<div class="large-8 medium-8 columns">
									<br />
									<div endeudamiento fechasdeudas='{{fechasdeudas}}' ingresos="{{ingresos}}" deducciones="{{deducciones}}"></div>
								</div>
								<div class="large-4 medium-4 columns">
									<div class="large-7 medium-7 columns">
										<canvas id="doughnut" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-colours="chartColors" width="80" height="80"></canvas>
									</div>
									<div class="large-5 medium-5 columns">
										<div class="text-right">
										<strong>
											<h4 class="orangetxt futura">
												{{porcentaje}} %
											</h4>
										</strong>
										</div>		
									</div>
									<!--
									<canvas classy="{{porcentaje}}" class="loader animation-canvas" width="150" height="150"></canvas>
									-->
									<div class="large-12 medium-12 columns">
										<div class="text-left">
											<h4 class="greentxt futura"><small class="blacktxt">Total ingresos:</small>{{saldos.totdevengos | currency:"$":0}}</h4>
											<h4 class="redtxt futura"><small class="blacktxt">Total deducciones:</small>{{saldos.totdeducciones | currency:"$":0}}</h4>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 dashboardlis">
				<li ng-hide="!user.company.show_birthday" ng-init="employee_by_cumpleano_mes = $Employee.all_by_cumpleano_mes();">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#" title="{{ common.widgets[2].name }}">
								<div class="text-complete">
								{{ common.workers[0].name }}
								</div>
								<div class="text-cut">
								{{ common.workers[0].name | limitTo : 15 }}	...
								</div>
								<i class="fa fa-angle-right" style=""></i>
							</a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Empleados que cumplen años en último mes.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in employee_by_cumpleano_mes">
									<div class="foto">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">
											<img alt="profile" ng-src="{{empleado.image}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">{{empleado.short_name | lowercase}}</a>
									</h6>
									<h6 class="subheader no-margin capitalize">{{empleado.posicion | lowercase}}</h6>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_nac | date:"d 'de' MMMM"}}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
				<li ng-hide="!user.company.show_labor" ng-init="employee_by_fecha_de_ingreso = $Employee.all_by_fecha_de_ingreso();">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#">{{ common.workers[1].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Fecha en la cual el empleado cumple año(s) de ingreso a la compañía.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">

							<ul class="employees">
								<li ng-repeat="empleado in employee_by_fecha_de_ingreso">
									<div class="foto">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">
											<img alt="profile" ng-src="{{empleado.image}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">{{empleado.short_name | lowercase}}</a>
									</h6>						
<!--									<h6 class="subheader no-margin capitalize">{{empleado.posicion | lowercase}}</h6>-->
									<div class="text-right">
										<span class="graytxt">
											<span class="label radius success">{{aniversario(empleado.fecha_ingreso)}} Años</span>
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_ingreso | date:"d 'de' MMMM"}}</span>
										</span>
									</div>									
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>

				<li ng-hide="!user.company.show_new_employees" 
				ng-init="new_employees = $Employee.all_by_current_month_entry();">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a href="#">{{ common.workers[2].name }} <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Empleados nuevos en el mes actual">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
							<ul class="employees">
								<li ng-repeat="empleado in new_employees">
									<div class="foto">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">
											<img alt="profile" ng-src="{{empleado.image}}">
										</a>
									</div>
									<h6 class="no-margin capitalize">
										<a ui-sref="main.views.employee_info_lookup({id:empleado.identification, c:empleado.company.id})">{{empleado.short_name | lowercase}}</a>
									</h6>
									<h6 class="subheader no-margin capitalize">{{empleado.posicion | lowercase}}</h6>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{empleado.fecha_ingreso | date:"d 'de' MMMM"}}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>

				<li ng-hide="!user.company.show_articles" ng-init="articles_not_mine = $Article.index({per:10});">
					<div class="widgets minh-430">
						<h5 class="encabezado">
							<a ui-sref="main.views.articles()">Publicaciones recientes <i class="fa fa-angle-right"></i> </a>
							<div class="right actions">
								<a class="text-right" href="">
									<span data-tooltip aria-haspopup="true" class="has-tip" title="Articulos de interés publicados por los Directivos de la empresa.">
										<i class="fa fa-info-circle fa-lg"></i>
									</span>
								</a>
								<a class="text-right closing" href="">
									<i class="fa fa-chevron-circle-up fa-lg"></i>
								</a>
							</div>
						</h5>
						<div class="contenido">
						  <div ng-if="articles_not_mine.articles.length >= 1">
						    <div class="cuantos">
    							<h3><span class="icon-comment"></span>{{articles_not_mine.length}}</h3>
    						</div>
						  </div>
							<ul class="employees publicaciones">
								<li ng-repeat="articulos in articles_not_mine.articles | orderBy: 'created_at' : true | limitTo: 10">
									<a ui-sref="main.views.articleDetail({id:articulos.id})" ng-class="articulos.category">{{articulos.titulo}}</a>
									<p class="smalltxt no-margin">
										{{articulos.ini | limitTo:100}}
									</p>
									<div class="text-right">
										<span class="graytxt">
											<i class="fa fa-user"></i>
											<span class="small capitalize">{{articulos.employee.short_name | cut:20 }}</span>
										</span>
										<span class="graytxt">
											<i class="fa fa-calendar-o"></i>
											<span class="small">{{articulos.created_at | date:"d 'de' MMMM" }}</span>
										</span>
									</div>
								</li>
							</ul>
						</div><!-- /contenido -->
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>