<div class="padding-container">
	<div>
		<h3 class="expand-title text-center first-one">Detalle de Pagos y Descuentos</h3>
		<div class="row">
			<fieldset>
				<legend>Filtros</legend>

				<div class="large-2 medium-2 columns">
					<label for="date_filter" class="inline">Periodo Nomina:</label>
				</div>
				<div class="large-2 medium-2 columns">
					<select id="date_filter" ng-model="payroll_date_filter.$">
						<option value="">Todos</option>
						<option ng-repeat="date in payroll_dates" value="{{ date }}">{{ date | date:'dd/MM/yyyy' }}</option>
					</select>
				</div>

				<div class="large-2 medium-2 columns">
					<label for="payroll_filter" class="inline">Concepto Nomina:</label>
				</div>
				<div class="large-4 medium-4 columns left">
					<select id="payroll_filter" ng-model="payroll_concept_filter">
						<option value="">Todos</option>
						<option ng-repeat="concept in payroll_concepts">{{ concept }}</option>
					</select>
				</div>
			</fieldset>
		</div>

		<div class="row">
			<div class="large-12 medium-12 columns">
				<table>
				  <thead>
					  <tr>
					  	<th scope="column" class="text-center">Periodo de nomina</th>
					    <th scope="column" class="text-center">Concepto de nomina</th>
					    <th scope="column" class="text-center">Devengos</th>
					    <th scope="column" class="text-center">Deducciones</th>
					  </tr>	
				  </thead>
			  	<tbody ng-repeat="date in payroll_dates | filter : payroll_date_filter">
			  		<tr id="tr_payroll_period">
			  			<td id="td_payroll_period" rowspan="{{ dateFilter(date) }}">{{ date | date:'dd/MM/yyyy'}}</td>
			  		</tr>
		  			<tr ng-repeat="(key, indebtedness) in user.indebtedness_levels | filter : {payroll_date: date, payroll_concept_txt: payroll_concept_filter}">
					    <td scope="row">{{ indebtedness.payroll_concept_txt }}</td>
					    <td scope="row" class="text-right">{{ indebtedness.deven.toLocaleString(undefined,{minimumFractionDigits: 2}) }}</td>
					    <td scope="row" class="text-right">{{ indebtedness.deduc.toLocaleString(undefined,{minimumFractionDigits: 2}) }}</td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
