<div class="padding-container">
	<h3 class="expand-title text-center first-one">Pagos y Deducciones</h3>

	<div ng-hide="existsPaimentDetails()">
		<message-report titulo="titleReport" other="titleReport2"></message-report>
	</div>

	<div ng-show="existsPaimentDetails()">
		<div class="row">
			<div class="large-12 medium-12 columns">
				<table>
				  <thead>
					  <tr>
					  	<th id="th_pern" scope="column">
				      	<div class="header" id="origin" ng-click="sortTables.sortingTable('origin')">Periodo</div>
					  	</th>
					  	<th scope="column" class="text-center" >
				      	<div class="header" id="payroll_concept_txt" ng-click="sortTables.sortingTable('payroll_concept_txt')">Concepto de nómina</div>
				  		</th>
					    <th scope="column" class="text-center">Pagos</th>
					    <th scope="column" class="text-center">Deducciones</th>
					  </tr>
					  <tr>
					  	<th scope="column">
					  		<div class="fa fa-filter filter-icon"></div>
					  		<input type="text" class="input-filter" ng-model="period_filter" placeholder="Ej. dd/mm/yyyy">
					  	</th>
					  	<th scope="column">
					  		<div class="fa fa-filter filter-icon"></div>
					  		<input type="text" class="input-filter" ng-model="payroll_concept_filter" placeholder="Ej. Abono Facturacion">
				  		</th>
					    <th scope="column"></th>
					    <th scope="column"></th>
					  </tr>
				  </thead>
				  <tbody ng-repeat="date in payroll_dates | filter : period_filter  | orderBy:sortTables.getPredicate():sortTables.getReverses()">
			  		<tr id="tr_payroll_period">
			  			<td id="td_payroll_period" class="text-center" rowspan="{{ dateFilter(date.origin) }}" ng-bind="date.value"></td>
			  		</tr>
		  			<tr ng-repeat="(key, indebtedness) in indebtednessLevels | filter : {payroll_date: date.origin, payroll_concept_txt: payroll_concept_filter} | orderBy:sortTables.getPredicate():sortTables.getReverses()">
					    <td scope="row">{{ indebtedness.payroll_concept_txt }}</td>
					    <td scope="row" class="text-right">{{ indebtedness.deven.toLocaleString(undefined,{minimumFractionDigits: 2}) }}</td>
					    <td scope="row" class="text-right">{{ indebtedness.deduc.toLocaleString(undefined,{minimumFractionDigits: 2}) }}</td>
		  			</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
