#msg_success, #msg_alert {
	display : none;
}

.spacehead-index {
	padding-top: 150px;
}

/**dashboard**/
.text-complete {
	display: inline-block;
}
.text-cut	{
	display : none;
}

@media only screen and (min-width: 361px) and (max-width: 800px) { 
	.text-complete	{
		display: none;
	}		
	.text-cut {
		display: inline-block;
	}
}
/** indebtedness_levels **/
#tr_payroll_period {
	background: #EDEAEA;
}
#td_payroll_period {
	border-bottom: 2pt solid white
}

/**sidebar**/
.contact-name {
	cursor: pointer;
}
.employee-full-name {
	font-size: 15px;
}
.employee-position {
	font-size: 12px;
}
.reveal-modal {
	min-height: 0vh;
}

@media screen and (min-width: 40em) {
	.employee-full-name {
		font-size: 25px;
	}	
	.employee-position {
		font-size: 18px;
	}
}