/***login*/
.label-input-login {
	color: #FFF !important;
}

.input-login {
	background: rgba(180, 180, 180, 0.4) !important;
}



#msg_success, #msg_alert {
	display : none;
}

.spacehead-index {
	padding-top: 150px;
}

/**dashboard**/
.text-complete {
	display: inline-block;
	font-size: 0.9em;
	max-width: 69%;
	@media screen and (min-width: 64em) {
		max-width:90%;
		font-size: 1em;
	}
}

.panel h4{
	color: #ff7e00;
}

.panel-chart-value {
	margin-top: 25px;
}

#cesantias_value {
	font-size: 40px;
	color: #123A76;
}
#intereses_cesantias_value {
	font-size: 40px;
	color: #2ED63B;	
}
 
.fa-1 {
	font-size: 5em;
}
.value-icon {
	z-index: 2;
	font-size: 40px;
	margin: -67% 14%;
	width: 53px;
	height: 41px;
	text-align: center;
}

#indebtedness_level_porcentage {
	font-size: 30px;
	@media screen and (min-width: 40em) {
	
		font-size: 35px;
	
	}
	@media screen and (min-width: 64em) {
	
		font-size: 40px;
	
	}
}

/** consultations **/
.th-incapacity-date, .th-permission-date {
	width: 155px;
}


/** indebtedness_levels **/
#tr_payroll_period {
	background: #EDEAEA;
}
#td_payroll_period {
	border-bottom: 2pt solid white
}
#payroll_period_title {
	width: 150px;
}

/**sidebar**/
.contact-name {
	cursor: pointer;
}
.employee-full-name {
	font-size: 15px;
}
.employee-position {
	font-size: 12px;
}
.reveal-modal {
	min-height: 0vh;
}

@media screen and (min-width: 40em) {
	.employee-full-name {
		font-size: 25px;
	}	
	.employee-position {
		font-size: 18px;
	}
}

/** profile */
#employee_contact_data_modal {
	width: 300px;
	height: 90px;
	max-height: 130px;
}

/** variance_analysis */
.payroll-description {
	width: 320px;
}

/** absences*/
.info-absences {
    top: 0px;
}

/** modal contact info **/
.button-copy{
	width: 33px;
    border-radius: 4px;
}

.close-reveal-modal{
	top: -1.5rem !important;
    right: -1.5rem !important;
    border-radius: 40px;
}

/** sort_tables **/
table thead .orderby {
	background: #fff;
}
table thead {
	background: #F0F0F0; /*#376AB3;*/
}
table thead tr th{
	color: #000;
}

.header { 
	background-image: url(../assets/images/bg.gif); 
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center right; 
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center right; 

	@media screen and (max-width: 767px) {
		padding-left: 0px;
	}
	
	padding-left: 20px; 
	padding-right: 20px;
	border-right: 1px solid #dad9c7; 
	margin-left: -1px;
} 
.headerSortUp { 
	background-image: url(../assets/images/asc.gif); 
	background-color: #D4D4D4; 
	background-position: center right;
} 
.headerSortDown { 
	background-image: url(../assets/images/desc.gif); 
	background-color: #D4D4D4; 
	background-position: center right;
}
/*
input[type="text"] {
	background-color: #FFF; 
} 
*/
.input-filter {
	background-color: #FFF !important;
	border: 1px solid #CAC5C5 !important;
	/*width: 85% !important;
	margin-left:10px !important;*/
}
.filter-icon{
	float: left;
	width: 5%;
	margin: 8px 0px 0 -5px;
}

td, th {
	display: table-cell;
	vertical-align: inherit;
}	

#th_pern{
	width: 150px; /*100px;*/
}