//--------------------INDEX

//1 .dashboard-profile
	// 1.1 .bottomize
	// 1.2 .big-profile
// 2. sidebar
	// 2.1 .finder
// 3. dashobard
	// 3.1. pic


@import "variables";
@import "compass/css3";


.sidebar {
  background-color: #666;
  float:left;
  height: 100%;
}

.main-container{
	padding: 40px 0;
}


.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

// 1 .dashboard-profile
.dashboard-profile{
	position: relative;
	background-color:#9ab3d3;
	background-image: url("/assets/images/backtest.jpg"); 
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	min-height: 425px;
	padding: 10px 0 30px 0;
	z-index: 0; //para que quede debajo del nav
	@include box-shadow(0px -5px 10px rgba(50,50,50, 0.2) inset);
	a{
		color: #1C6087;
	}
}

// 1.1 .bottomize
.bottomize{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
	@include filter-gradient(#ffffff, #1a1a1a, vertical); // IE6-9
	@include background-image(linear-gradient(rgba(#ffffff,0) 0%, #1a1a1a 90%));
	&.whitening{
		@include filter-gradient(#ffffff, #1a1a1a, vertical); // IE6-9
		@include background-image(linear-gradient(rgba(#ffffff,0) 0%, rgba(#ffffff,0.5) 90%));
		.subheader{
			color: #4A4A4A;
		}
		.text-format{
			.subheader{
				color: #666;
			}
		}
		.bluelighttxt{
			color: #666;
		}
		ul.breadcrumbs{
			background-color: transparent;
			border-color: transparent;	
			padding: 0;
			li{
				&:before{
					color: #333;
				}
				a{
					color: #74DFFF;
				}
				&.unavailable {
					a{
						color: #DDDDDD;
					}
				}
				&.current {
					a{
						color: #6F6F6F;
					}
				}
			}
		}
	}
}

// 1.2 .big-profile
.big-profile{
	float: left;
	width: 120px;
	height: 120px;
	@include border-radius(100%);
	margin-right: 5px;
	overflow: hidden;
	border: 2px solid white;
	@include box-shadow(rgba(100,100,100,0.2) 0 3px 7px inset);
	img{
		min-height: 115px;
	}
	&:after{
		display: block;
		height: 200px;
		content:" ";
	}
}

.dash-text-format{
	position: relative;
	left: 20px;
	.subheader{
		color: #A0D8F5;
	}
}

// 2. sidebar

// 2.1 .finder
.finder{
	margin: 0;
	list-style-type: none;
	li{
		h6.cargo{
			text-transform: capitalize;
			position: relative;
			top: -3px;
			max-width: 150px;
			float: left;
			font-size: 12px;
			line-height: 1.1em;
		}
		&.results{
			min-height: 70px;
			display: block;
			position: relative;
			padding: 10px 0;
		}
		&.search{
			
			span.prefix, label.prefix{
				background:#014b68;
				color: #bec4c5;
				@include border-left-radius(10px);
				border: 0;
			}
			
			background: $header;
			padding: 23px 10px 20px 10px;
			input[type="search"]{
				background: #014b68;
				color: #fff;
				margin: 0;
				border: 0;
				outline: none;
				&:focus{
					outline: none;
					@include box-shadow(white 0 0 0);
				}
				@include border-right-radius(10px);
				@include input-placeholder {
				  color:#bec4c5;	
				}
			}
		}
		.pic{
			float: left;
			margin-left: 5px;
			position: relative;
			top: -1px;
			width: 50px;
			height: 50px;
			@include border-radius(100%);
			margin-right: 5px;
			overflow: hidden;
			border: 2px solid #7c7c7c;
			@include box-shadow(rgba(50,50,50,0.2) 0 3px 7px inset);
			&:hover{
				border: 2px solid #1C6087;
			}
		}
		.action-buttons{
			position: absolute;
			top: 9px;
			right: 10px;
		}
	}
}


//3 .navbar

.fa{
	&.workers-icon{
		margin: 0 auto;
		display: block;
		text-align: left;
		line-height: 80px;
		font-size: 20px;
		position: relative;
		right: 6px;
	}
}

.workers-icon{
	margin: 0 auto;
	display: block;
	text-align: left;
	line-height: 80px;
	font-size: 20px;
	position: relative;
	right: 6px;
}

.worker{
	@include border-radius(100%);
	border: 2px solid $header;
	width: 60px;
	height: 60px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	top: 10px;
	img{
		width: auto;
		min-height: 60px;
		margin-top: -25px;
	}
}

.user_nav{
	float: right;
	h5{
		position: relative;
		@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
			top: 0px;
		}
		top: -15px;
		color: $header;
		font-size: 15px;
		display: inline-block;
		margin: 0 2px !important;
		a{
			position: relative;
			top: 2px;	
			color: $header;
			&:hover, &:focus {
				color: $hover;
			}
			span{
				font-size: 18px;
				position: relative;
				top: 2px;
			}
		}
	}
	h6{
		display: inline-block;
	}
}

.comments{
	position: relative;
	float: left;
	margin-right: 25px;
	margin-top: 0;
	font-size: 25px;
	&:hover{
		span{
			color: ligthen($header,20%);
		}
	}
}

.number{
	background: $number;
	@include border-radius(100%);
	width: 19px;
	height: 19px;
	line-height: 19px;
	font-style: normal;
	font-family: "futura-pt","sans-serif";
	text-align: center;
	position: absolute;
	right: 20px;
	top: 20px;
	color: white;
	font-size: 12px;
	text-indent: 0;
	z-index: 9;
	&.colored{
		right: 40px;
		top: 14px;
		width: 20px;
		height: 20px;
		line-height: 21px;
	}
	&.comment{
		background: $comments;
		right: -4px;
	}
	&.mobile-comment{
		background: $comments;
		width: 14px;
		height: 14px;
		font-size: 11px;
		line-height: 14px;
		top: -4px;
		right: -1px;
	}
}


//3. dashboard

.widgets{
	width: 100%;
	background: $widget-background;
	display: inline-block;
	padding: 0 !important;
	border: 1px solid $widget-background;
	margin-bottom: 9px;
	margin-right: 7px;
	h5{
		&.encabezado{
			width: 100%;
			background: $header;
			color: $header-title;
			margin: 0;
			font-weight: normal;
			padding: 10px;
			border-bottom: 1px solid $header;
			a{
				color: $header-title;
			}
		}
	}
	.actions i{
		color: rgba(255,255,255,.3);
	}
	&:hover{
		background: rgba(255,255,255,.7);
		border: 1px solid $header-title;
		h5.encabezado{
			border-bottom: 1px solid $header-title;
			background: $header-hover;
			color: lighten($header-hover,80%);
			a{
				color: lighten($header-hover,80%);
			}
		}
	}
}

// 3.1. pic
.pic{
	width: 60px;
	height: 60px;
	@include border-radius(100%);
	overflow:hidden;	
	margin: 0 auto;
	text-align: center;
	border: 3px solid $header;
	&.rotate{
		img{
			height: 55px;
		}
		&:hover{
			@include transition-property(all);
			@include transition-duration(300ms);
			@include transition-timing-function(ease-in);
			@include rotate(360deg);
		}
	}
	&.medium{
		width: 90px;
		height:auto;
		a{
			img{
				z-index: -2;
				width: 90px;
			}
		}
	}
	&.bigger{
		width: 120px;
		height:auto;
		a{
			img{
				z-index: -2;
				width: 120px;
			}
		}
	}
	a{	
		display: block;
		img{
			width: 60px;
			height: auto;
		}	
	}
}

//3.2 expandbanner

.expandbanner{
	background: #eee;
	padding: 20px 0;
	position: relative;
}

.vacation-days{
	.used{
		padding:5px 20px 28px 20px;
		background: #2057A3;
	}
	.available{
		background: #464646;
		padding:5px 20px 28px 20px;
	}
	h1,h6{
		color: #fff;
		margin: 0;
		text-align: center;
	}
	h1{
		font-family: "futura-pt","sans-serif";
		font-size: 70px;
	}
}

#vacaciones{
	border: 1px solid #D6D6D6;
	padding: 20px 0;
	height: 306px;
}

.ui-datepicker-title{
	text-align: center;
}


.ui-datepicker-prev{
	float: left;
}

.ui-datepicker-next{
	float: right;
}

.ui-datepicker-group{
	width: 46%;
	display: inline-block;
	&.ui-datepicker-group-first{
		margin-right: 33px;
		margin-left: 10px;
	}
}

.ui-datepicker-header{
	height: 20px;
	line-height: 20px;
}

.ui-datepicker-prev {
	background: url('/assets/images/date-prev.png') no-repeat center center;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	display: block;
	position: relative;
	top: -3px;
	left: 3px;
}

.ui-datepicker-next {
	background: url('/assets/images/date-next.png') no-repeat center center;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	display: block;
	position: relative;
	top: -3px;
	right: 5px;
}

#ui-datepicker-div{
	padding: 10px;
	border: 1px solid rgb(214, 214, 214);
	background: #fff;
}

.ui-datepicker-inline{
	background: transparent;
	.ui-datepicker-next {
		right: -10px;
	}
}


.close-banner{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	a{
		background: #EEEEEE url("/assets/images/arrows.png") -1px 0px no-repeat;
		height: 40px;
		display: block;
		width: 100%;
		&:hover{
			background-color: darken(#f1f1f1,10%);
		}
		&.active{
			background-position: -1px -44px;
		}
	}
}

table{
	&.ui-datepicker-calendar{
		border-spacing: 0;
		border-collapse: collapse;
		margin: 0 !important;
		background: transparent;
		tr:nth-of-type(even){
			background: rgba(255,255,255,.1);
		}
		thead{
			background: none;
			tr{
				background: none;
				th{
					font-weight: 100;
					color: #C7C7C7;
				}
			}
		}
		tbody{
			tr{
				td{
					text-align: center;
					&.ui-datepicker-today{
						background: aliceblue;
						@include border-radius(5px);
						a{
							color: #6F97CF;
						}
					}
					&.Highlighted{
						background: rgba(205, 222, 239, .5);
						&:first-child,&:last-child{
							background: #3A80C3;
							@include border-radius(5px);
							a{
								color: #fff;
							}
						}
						a{ 
							color: #3A80C3;
						}
					}
					&.ui-datepicker-current-day{
						background: #889FBE;
						@include border-radius(5px);
						a{
							color: #fff;
						}
					}
					a{
						color: #6D6C6C;
					}
				}
			}
		}
	}
	&.vacations{
		border-spacing: 0;
		border-collapse: collapse;
		margin: 0 !important;
		background: transparent;
		tr:nth-of-type(even){
			background: transparent;
		}
		thead{
			background: none;
			border-top: 1px solid #D6D6D6;
			tr{
				height: 76px;
				background: none;
				th{
					border-right: 1px solid #D6D6D6;
					border-left: 1px solid #d6d6d6;
					color: #4a4a4a;
					text-align: center;
					background: transparent;
					&.aprobar{
						color: #3AC177;
					}
					&.borrar{
						color: #E05162;
					}
					&.desde{
						background: #dfdfdf;
					}
					&.dias{
						color: #fff;
						background: #4a4a4a;	
					}
				}
			}
		}
		tbody{
			tr{
				border: 1px solid #D6D6D6;
				background: transparent;
				td{
					border-right: 1px solid #D6D6D6;
					&.dias{
						color: #fff;
						background: #4a4a4a;
						h2{
							color: #fff;
						}
					}
					&.desde{
						background: #dfdfdf;
					}
					h2,h6{
						text-align: center;
						margin: 0;
						color: #6C6C6C;
					}
					h2{
						font-family: "futura-pt","sans-serif";
						line-height: 35px;
					}
				}
			}
		}
	}
}


.expand-title{
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	padding: 20px 0;
	margin: 30px 0;
}

.acciones{
	background: url('/assets/images/buttons.png') no-repeat scroll -10px 0;
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	&.negar{
		background-position: -80px 0;
	}
	&.borrar{
		background-position: -153px 0;
	}
}

span{
	&.Aprobado{
		color: #3AC177;
	}
	&.Negado{
		color: #E05162;
	}
}

.aprobador{
	margin-left: 20px;
	padding-top: 2px;
	i{
		display: inline-block;
		margin-right: 10px;
	}
	.pic{
		border: 2px solid #6f6f6f;
	}
}

.info {
	position: relative;
	top: -13px;
	left: 10px;
}

.contenido{
	min-height: 225px;
	padding: 10px;
	overflow: hidden;
}

.employees{
	list-style-type: none;
	margin: 0 !important;
	max-height: 360px;
	overflow: auto;
	li{
		padding: 5px 0;
		margin: 5px 0;
		min-height: 80px;
		h6{
			a{
				color:$header;
			}
		}
		.foto{
			float: left;
			width: 70px;
			height: 70px;
			@include border-radius(100%);
			margin-right: 5px;
			overflow: hidden;
			border: 2px solid $header;
			&:hover{
				border: 2px solid $header;					
			}
		}
		.small{
			font-size: 80%;
		}
	}
}

.cuantos{
	h3{
		span{
			font-size: 30px;
			position: relative;
			top: 6px;
		}
	}
}


.icon-bar{
	a{
		position: relative;
		&.active{
			span.fa.fa-border{
				border-color: $header;
			}
			&:after{
				content:" ";
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 10px solid #dedede;
				position: absolute;
				top: 45px;
				right: -10px;
			}
		}
		span.fa.fa-border{
				padding: 0;
				border: solid 0.08em #DEDEDE;
				border-radius: 100%;
				background: white;
				height: 50px;
				width: 50px;
				line-height: 50px;
			}
	}
}

.information{
	display: none;
	&:first-child{
		display: block;
	}
}


.number-info{
	position: relative;
	top: 10px;
	left: 10px;
	width: 50%;
	display: inline-block;
}

.animation-canvas {
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	margin-top: 25px;
}

.master-data, .datos_empresariales{
	h4{
		color: $header;
	}
}

.node circle {     
  fill: #fff;    
  stroke: steelblue;    
  stroke-width: 1.5px; 
} 
.node {    
  font: 20px sans-serif; 
} 
.link {    
  fill: none;    
  stroke: #ccc;    
  stroke-width: 1.5px; 
}


