/*.gray{
	background: #C3C3C3
}

/*Colores dropdowns amarillos
.dropdown-menu-yellow{
font-weight:        bold;
background-color:   #FCF997 !important;   /* Adjust Text Color Level 2 
text-shadow:        none;
}
.text-yellow{
	border: 1px solid #FCF997 !important;
	background-color: #FCF997 !important;
}

.tab-title > a{
	/*color: #fff !important;
	/*background-color: #123A76 !important;
	/*border-radius: 30px 30px 0px 0px;
}
.tab-title.active,
.next:hover,
.prev:hover{
	border-bottom: 5px solid #ff2211;
}
.total{
	background-color: #76D5FF;
	margin-bottom: 20px;
}

.bigcontainer{
	min-width: 800px;
	max-width:1000px !important;
	float:left !important;
	margin-left: 20px;
	padding: 20px;
}
.bigcontainer.row.row{
	padding: 0;
}
.maincontainer{
	max-width: 1200px;
	margin: auto;
}
.bigcontainer.border{
	border: 1px solid #E1D8FF;
	border-radius: 5px;
	background: #FAF6FF;
}
.smallcontainer{
	float:rigth !important;
}
.row.final{
	margin-top: 20px;
}
.alert-box{
	text-align: center;
	font-size: 14px;
}
.linkAccordion{
	font-size: 15px;

}
/* Tabulador formularios
.tabulator1{margin-left: 10px;}
.tabulator2{margin-left: 40px;}
.tabulator3{margin-left: 70px;}
.tabulator4{margin-left: 100px;}
*/
h5.submenu{padding: 0 30px;cursor: pointer;}
h5.active{background-color: #C2D4FB;color: #000 !important;}
.expand-title{border:none !important;top:0 !important;margin-bottom: 0 !important;}
.box{padding:10px 0;border: 1px solid #BFBFBF}
.special-box{border-bottom: 1px solid #BFBFBF;border-right: 1px solid #BFBFBF}
.white{background: #FFFFFF}
.gray{background-color: #D5D5D5;}
.smallcontainer{padding: 20px 0;margin: 40px 0;background: #fff;color: #4A84A5;}
.arounddownred{
    width:0px;
    height:0px;
    border-style: solid;
    margin: -3px auto;
    border-width: 10px;
    border-bottom-width:0px;
    border-color: #f04124 transparent transparent transparent;
}
.arounddownblue{
    width:0px;
    height:0px;
    border-style: solid;
    margin: -3px auto;
    border-width: 10px;
    border-bottom-width:0px;
    border-color: #123A73 transparent transparent transparent;
}
.fontmedium{
	font-size: 15px;
}
.textboxcompany{width: 100px !important;text-align: right;float: right;}
/* Tabulador formularios */
.tabulator1{margin-left: 10px;}
.tabulator2{margin-left: 40px;}
.tabulator3{margin-left: 70px;}
.tabulator4{margin-left: 100px;}
