<div class="padding-container">
	<div ng-model="loans">
		<h3 class="expand-title text-center first-one">Crear solicitud de prestamo</h3>
		<br /><br />
		<div class="row">
			<div class="large-5 medium-5 columns">
				<form ng-submit="putRequest( prestamo )" >					
					<label for="">Motivo: </label>			
					<select name="subty" id="subty" ng-model="prestamo.subty" >
						<option ></option>
						<option ng-repeat="tipo_info in options" ng-value="tipo_info.subty" ng-bind="tipo_info.descr"></option>					
					</select>
					<label for="">Monto solicitado: </label>
					<div class="row collapse prefix-radius">
						<div class="small-2 columns">
							<span class="prefix money"><i class="fa fa-usd"></i></span>
						</div>
						<div class="small-10 columns">
							<!-- <input type="number" id="monto" ng-model="prestamo.monto" class="money" ng-pattern="^\d+(\.|\,)\d{2}$"> -->
							<input type="number" id="monto" ng-model="prestamo.monto" class="money">							
						</div>
					</div>
					<br />
					<div class="text-right">
						<!-- <input type="submit" value="Solicitar" class="button success small" /> -->
						<button type="submit" class="button success small" ng-disabled="prestamo.sending" > <img src="images/282.gif" width="15px" ng-if="prestamo.sending" /> &nbsp;<span ng-bind="prestamo.sending ? 'Guardando' : 'Solicitar'" ></span></button>
					</div>
				</form>
			</div> <!-- /large-6 -->
			<div class="large-7 medium-7 columns">
				<table class="vacations">
					<thead>
						<tr>
							<th>MONTO</th>
							<th>MOTIVO</th>
							<th>ESTADO</th>
							<th class="borrar">BORRAR</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="loan in loans">
							<td class="desde">
								<h6 ng-bind="loan.monto_current"></h6>
							</td>

							<td><h6 ng-bind="mot(loan.subty)"></h6></td>
							<td><h6 class="bold"><span>en espera</span></h6></td>
							<td>
								<a href="" class="acciones borrar" ng-click="openModal($index,'myModal')"></a>
								<div id="myModal-{{$index}}" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
										<a href="" ng-click="deletePres(loan,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br /><br />
		<h3 class="expand-title text-center">Aprobar solicitudes de prestamo</h3>
		<br /><br />
		<div class="row">
			<div class="large-12 columns">
				<table class="vacations responsive">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th class="desde">MONTO</th>
							<th>MOTIVO</th>
							<th>ESTADO</th>
							<th class="aprobar">APROBAR</th>
							<th class="negar">NEGAR</th>
							<!-- <th class="borrar">BORRAR</th> -->
						</tr>
					</thead>
					<tbody>		
						<tr ng-repeat="approve in approve_loans">
							<td>
								<h5 ng-bind="approve.employee.short_name" ></h5>
							</td>
							<td class="desde">
								<h6 ng-bind="approve.monto"></h6>
							</td>
							<td><h6 ng-bind="mot(approve.subty)"></h6></td>
							<td><h6 class="bold" ><span>en espera</span></h6></td>
							<td><a href="" ng-click="aproveLicenses(license)" class="acciones"></a></td>
							<td><a href="" ng-click="deniedLicenses(license)" class="acciones negar"></a></td>
							<!-- <td>
								<a href="" class="acciones borrar" ng-click="openModal(1,'elmodal')"></a>
								<div id="elmodal-1" class="reveal-modal tiny" data-reveal>
									<br />
									<h4 class="text-center">¿Seguro quieres borrar esto?</h4>
									<div class="text-center">
									<a href="" ng-click="deleteLicenses(license,$index)" class="button success">Borrar</a>
									</div>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>