<div class="padding-container firstone">
	<div>
		<h3 class="expand-title text-center">Notificaciones</h3>
		<br />
    <div class="row">
      <div class="large-12 columns">
        <label for="">¿Ajusta la frecuencia de las notificaciones?</label>
        <select style="max-width:150px;"  ng-model="notificaciones" ng-change="changedValue(notificaciones)">
            <option value="Semanal">Semanal</option>
            <option value="Diario">Diario</option>
            <option value="Mensual">Mensual</option>
        </select>
      </div>
    </div>
    <br />
		<div class="row">
      <div class="large-12 columns">
        <ul>
          <li ng-if="articles_not_mine.count > 0">
            <a ui-sref="main.views.articles()"> Tienes <span ng-bind="articles_not_mine.count"></span> articulos por leer.</a>          
          </li>
          <li ng-if="only_not_user.length > 0">
            <a ui-sref="main.views.approvals_requirements"> Tienes <span ng-bind="only_not_user.length"></span> solicitudes pendiente por vacaciones.</a>          
          </li>  
          <li ng-if="extras_not_user.length > 0">
            <a ui-sref="main.views.approvals_licenses"> Tienes <span ng-bind="extras_not_user.length"></span> solicitudes pendiente por horas extras.</a>          
          </li>  
          <li ng-if="inhabilities_not_user.length > 0">
            <a ui-sref="main.views.approvals_licenses"> Tienes <span ng-bind="inhabilities_not_user.length"></span> solicitudes pendiente por incapacidad.</a>          
          </li>  
          <li ng-if="licenses_not_user.length > 0">
            <a ui-sref="main.views.approvals_requirements"> Tienes <span ng-bind="licenses_not_user.length"></span> solicitudes pendiente por permisos.</a>          
          </li>  
        </ul>
      </div>
		</div>
    <h3  class="expand-title text-center">Histórico</h3>
    <div class="row">
      <div class="large-12 columns">
        <ul class="no-bullet" ng-if="extras_history.length > 0">
					<h3>Horas extras</h3>
          <li ng-repeat="extras in extras_history">
							<h6>{{ extras.fecha | date:'short' }}</h6> <span>{{extras.hours}}</span> <span>{{extras.status}}</span> 
              <h3>{{ extras.employee.short_name }}</h3>
          </li>
        </ul>
        <ul class="no-bullet" ng-if="vac_history.length > 0">
					<h3>Vacaciones</h3>
          <li ng-repeat="extra in vac_history">
            {{extra}}
          </li>
        </ul>
        <ul class="no-bullet" ng-if="dm_history.length > 0">
					<h3>Datos maestros</h3>
          <li ng-repeat="solicitud in dm_history">
						<h6><small class="label radius"> <span class="fa fa-calendar fa-lg"></span> {{ solicitud.created_at | date:'short' }}</small></h6>
						<h6><span class="label success">{{solicitud.where}}</span> Cambio de: <b>{{ solicitud.dcamp }}</b> por <b>{{solicitud.comparador ? solicitud.comparador : solicitud.ccamp}}</b> <span class="{{solicitud.approved}} label secondary">{{ solicitud.approved ? "Aprobado" : "En espera" }}</span> </h6>
          </li>
        </ul>
        <ul class="no-bullet" ng-if="inhabilities_history.length > 0">
					<h3>Incapacidades</h3>
          <li ng-repeat="extra in inhabilities_history">
            {{extra}}
          </li>
        </ul>
        <ul class="no-bullet" ng-if="licenses_history.length > 0">
					<h3>Permisos</h3>
          <li ng-repeat="extra in licenses_history">
            {{extra}}
          </li>
        </ul>
      </div>
    </div>
	</div>
</div>		
